* {
  box-sizing: border-box; }

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f5f5f5; }

.container {
  display: block;
  margin: 0 auto; }

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
  margin-left: 12px;
  margin-right: 12px; }
  @media screen and (max-width: 1180px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (max-width: 800px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 8px;
      margin-right: 8px; } }
  @media screen and (max-width: 600px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (max-width: 320px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 8px;
      margin-right: 8px; } }
  .col_1--c,
  .col_2--c,
  .col_3--c,
  .col_4--c,
  .col_5--c,
  .col_6--c,
  .col_7--c,
  .col_8--c,
  .col_9--c,
  .col_10--c,
  .col_11--c,
  .col_12--c {
    margin-left: 0;
    margin-right: 0; }

.center {
  margin: 0 auto; }

.col_1 {
  width: 70px; }
  @media screen and (max-width: 1180px) {
    .col_1 {
      width: 60px; } }
  @media screen and (max-width: 980px) {
    .col_1 {
      width: 45px; } }
  @media screen and (max-width: 800px) {
    .col_1 {
      width: 32px; } }
  @media screen and (max-width: 600px) {
    .col_1 {
      width: 50px; } }
  @media screen and (max-width: 420px) {
    .col_1 {
      width: 34px; } }
  @media screen and (max-width: 320px) {
    .col_1 {
      width: 30px; } }

.col_2 {
  width: 164px; }
  @media screen and (max-width: 1180px) {
    .col_2 {
      width: 140px; } }
  @media screen and (max-width: 980px) {
    .col_2 {
      width: 110px; } }
  @media screen and (max-width: 800px) {
    .col_2 {
      width: 80px; } }
  @media screen and (max-width: 600px) {
    .col_2 {
      width: 50px; } }
  @media screen and (max-width: 420px) {
    .col_2 {
      width: 34px; } }
  @media screen and (max-width: 320px) {
    .col_2 {
      width: 30px; } }

.col_3 {
  width: 258px; }
  @media screen and (max-width: 1180px) {
    .col_3 {
      width: 220px; } }
  @media screen and (max-width: 980px) {
    .col_3 {
      width: 175px; } }
  @media screen and (max-width: 800px) {
    .col_3 {
      width: 128px; } }
  @media screen and (max-width: 600px) {
    .col_3 {
      width: 120px; } }
  @media screen and (max-width: 420px) {
    .col_3 {
      width: 88px; } }
  @media screen and (max-width: 320px) {
    .col_3 {
      width: 76px; } }

.col_4 {
  width: 352px; }
  @media screen and (max-width: 1180px) {
    .col_4 {
      width: 300px; } }
  @media screen and (max-width: 980px) {
    .col_4 {
      width: 240px; } }
  @media screen and (max-width: 800px) {
    .col_4 {
      width: 176px; } }
  @media screen and (max-width: 600px) {
    .col_4 {
      width: 120px; } }
  @media screen and (max-width: 420px) {
    .col_4 {
      width: 88px; } }
  @media screen and (max-width: 320px) {
    .col_4 {
      width: 76px; } }

.col_5 {
  width: 446px; }
  @media screen and (max-width: 1180px) {
    .col_5 {
      width: 380px; } }
  @media screen and (max-width: 980px) {
    .col_5 {
      width: 305px; } }
  @media screen and (max-width: 800px) {
    .col_5 {
      width: 224px; } }
  @media screen and (max-width: 600px) {
    .col_5 {
      width: 190px; } }
  @media screen and (max-width: 420px) {
    .col_5 {
      width: 142px; } }
  @media screen and (max-width: 320px) {
    .col_5 {
      width: 122px; } }

.col_6 {
  width: 540px; }
  @media screen and (max-width: 1180px) {
    .col_6 {
      width: 460px; } }
  @media screen and (max-width: 980px) {
    .col_6 {
      width: 370px; } }
  @media screen and (max-width: 800px) {
    .col_6 {
      width: 272px; } }
  @media screen and (max-width: 600px) {
    .col_6 {
      width: 190px; } }
  @media screen and (max-width: 420px) {
    .col_6 {
      width: 142px; } }
  @media screen and (max-width: 320px) {
    .col_6 {
      width: 122px; } }

.col_7 {
  width: 634px; }
  @media screen and (max-width: 1180px) {
    .col_7 {
      width: 540px; } }
  @media screen and (max-width: 980px) {
    .col_7 {
      width: 435px; } }
  @media screen and (max-width: 800px) {
    .col_7 {
      width: 320px; } }
  @media screen and (max-width: 600px) {
    .col_7 {
      width: 260px; } }
  @media screen and (max-width: 420px) {
    .col_7 {
      width: 196px; } }
  @media screen and (max-width: 320px) {
    .col_7 {
      width: 168px; } }

.col_8 {
  width: 728px; }
  @media screen and (max-width: 1180px) {
    .col_8 {
      width: 620px; } }
  @media screen and (max-width: 980px) {
    .col_8 {
      width: 500px; } }
  @media screen and (max-width: 800px) {
    .col_8 {
      width: 368px; } }
  @media screen and (max-width: 600px) {
    .col_8 {
      width: 260px; } }
  @media screen and (max-width: 420px) {
    .col_8 {
      width: 196px; } }
  @media screen and (max-width: 320px) {
    .col_8 {
      width: 168px; } }

.col_9 {
  width: 822px; }
  @media screen and (max-width: 1180px) {
    .col_9 {
      width: 700px; } }
  @media screen and (max-width: 980px) {
    .col_9 {
      width: 565px; } }
  @media screen and (max-width: 800px) {
    .col_9 {
      width: 416px; } }
  @media screen and (max-width: 600px) {
    .col_9 {
      width: 330px; } }
  @media screen and (max-width: 420px) {
    .col_9 {
      width: 250px; } }
  @media screen and (max-width: 320px) {
    .col_9 {
      width: 214px; } }

.col_10 {
  width: 916px; }
  @media screen and (max-width: 1180px) {
    .col_10 {
      width: 780px; } }
  @media screen and (max-width: 980px) {
    .col_10 {
      width: 630px; } }
  @media screen and (max-width: 800px) {
    .col_10 {
      width: 464px; } }
  @media screen and (max-width: 600px) {
    .col_10 {
      width: 330px; } }
  @media screen and (max-width: 420px) {
    .col_10 {
      width: 250px; } }
  @media screen and (max-width: 320px) {
    .col_10 {
      width: 214px; } }

.col_11 {
  width: 1010px; }
  @media screen and (max-width: 1180px) {
    .col_11 {
      width: 860px; } }
  @media screen and (max-width: 980px) {
    .col_11 {
      width: 695px; } }
  @media screen and (max-width: 800px) {
    .col_11 {
      width: 512px; } }
  @media screen and (max-width: 600px) {
    .col_11 {
      width: 400px; } }
  @media screen and (max-width: 420px) {
    .col_11 {
      width: 304px; } }
  @media screen and (max-width: 320px) {
    .col_11 {
      width: 260px; } }

.col_12 {
  width: 1104px; }
  @media screen and (max-width: 1180px) {
    .col_12 {
      width: 940px; } }
  @media screen and (max-width: 980px) {
    .col_12 {
      width: 760px; } }
  @media screen and (max-width: 800px) {
    .col_12 {
      width: 560px; } }
  @media screen and (max-width: 600px) {
    .col_12 {
      width: 400px; } }
  @media screen and (max-width: 420px) {
    .col_12 {
      width: 304px; } }
  @media screen and (max-width: 320px) {
    .col_12 {
      width: 260px; } }
  .col_12--fullbleed {
    position: relative;
    width: 100vw;
    left: calc(-.5 * (100vw - 1104px)); }
    @media screen and (max-width: 1180px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 940px)); } }
    @media screen and (max-width: 980px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 760px)); } }
    @media screen and (max-width: 800px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 560px)); } }
    @media screen and (max-width: 600px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 400px)); } }
    @media screen and (max-width: 420px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 304px)); } }
    @media screen and (max-width: 320px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 260px)); } }

.nav {
  position: fixed;
  top: 0;
  display: block;
  padding-top: 25px;
  padding-bottom: 10px;
  z-index: 9999;
  width: 100vw;
  background-color: #ffffff; }
  .nav__logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; }
  .nav__logoImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/img/logo.svg");
    padding-top: 37.5%; }
  .nav__links {
    display: inline-block;
    text-align: right;
    margin-right: 0; }
  .nav__menu {
    text-align: right;
    display: inline-block; }
  .nav__menuOption {
    font-size: 16px;
    line-height: 30px;
    transition-duration: 0.3s;
    color: #455560;
    display: inline-block;
    text-decoration: none;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    letter-spacing: 1.9px;
    margin-left: 46px; }
    @media screen and (max-width: 1320px) {
      .nav__menuOption {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .nav__menuOption {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .nav__menuOption {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .nav__menuOption {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .nav__menuOption {
        font-size: 14px;
        line-height: 28px; } }
    .nav__menuOption:hover {
      color: #a74f25; }
    .nav__menuOption.active {
      color: #a74f25; }

.footer {
  position: relative;
  display: block;
  padding-top: 40px;
  padding-bottom: 80px; }
  .footer__bg {
    background-color: #384045;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10; }
  .footer__logoImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/img/footerlogo.png");
    padding-top: 37.5%; }
  .footer__info {
    display: inline-block;
    margin-left: 0; }
  .footer__logo {
    display: block; }
  .footer__desc {
    margin-left: 58px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    letter-spacing: 1px; }
    .footer__desc--canada {
      margin-bottom: 20px; }
  .footer__canada {
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-2px); }
  .footer__descLink {
    transition-duration: 0.3s; }
    .footer__descLink:hover {
      color: #ffffff; }
  .footer__links {
    display: inline-block;
    margin-right: 0;
    vertical-align: top; }
  .footer__menu {
    float: right;
    margin-left: 56px; }
  .footer__menuCategory {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: #ffffff;
    display: block;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 700;
    line-height: 34px; }
  .footer__menuOption {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.1px;
    transition-duration: 0.3s;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    letter-spacing: 1px; }

.section {
  padding-top: 135px;
  padding-bottom: 135px; }
  .section--textCenter {
    text-align: center; }
  .section__content {
    position: relative;
    display: inline-block; }
  .section__heading {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .8px;
    color: #455560;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    margin-bottom: 30px; }
    @media screen and (max-width: 1320px) {
      .section__heading {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
    @media screen and (max-width: 1180px) {
      .section__heading {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
    @media screen and (max-width: 980px) {
      .section__heading {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: .75px; } }
    @media screen and (max-width: 420px) {
      .section__heading {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    @media screen and (max-width: 320px) {
      .section__heading {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    .section__heading--white {
      color: #ffffff; }
  .section__subheading {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #455560;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px; }
    .section__subheading--white {
      color: #ffffff; }
  .section__body {
    font-size: 16px;
    line-height: 30px;
    color: #455560;
    font-family: Lato, Helvetica, Sans-serif;
    font-weight: 400; }
    @media screen and (max-width: 1320px) {
      .section__body {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .section__body {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .section__body {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .section__body {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .section__body {
        font-size: 14px;
        line-height: 28px; } }
    .section__body--splash {
      letter-spacing: 1.7px; }
    .section__body--italic {
      font-style: italic; }
    .section__body--white {
      color: #ffffff; }
    .section__body--splash {
      margin-bottom: 45px; }
  .section__cardContainer {
    margin-bottom: 40px; }

.button {
  font-size: 16px;
  line-height: 30px;
  transition-duration: 0.3s;
  display: inline-block;
  padding: 12px 33px 10px;
  font-family: "PT Sans", Helvetica, Sans-Serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer; }
  @media screen and (max-width: 1320px) {
    .button {
      font-size: 16px;
      line-height: 30px; } }
  @media screen and (max-width: 1180px) {
    .button {
      font-size: 16px;
      line-height: 30px; } }
  @media screen and (max-width: 980px) {
    .button {
      font-size: 14px;
      line-height: 28px; } }
  @media screen and (max-width: 420px) {
    .button {
      font-size: 14px;
      line-height: 28px; } }
  @media screen and (max-width: 320px) {
    .button {
      font-size: 14px;
      line-height: 28px; } }
  .button:hover {
    border-color: #a74f25;
    background-color: #a74f25; }
  .button--wb {
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff; }

.bgImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .bgImg__mainSplash {
    background-image: url("../assets/img/aboutpage-header.png");
    padding-top: 25.6%; }
    @media screen and (max-width: 1180px) {
      .bgImg__mainSplash {
        padding-top: 25.6%; } }
    @media screen and (max-width: 980px) {
      .bgImg__mainSplash {
        padding-top: 25.6%; } }
    @media screen and (max-width: 800px) {
      .bgImg__mainSplash {
        padding-top: 30%; } }
    @media screen and (max-width: 600px) {
      .bgImg__mainSplash {
        padding-top: 35%; } }
    @media screen and (max-width: 420px) {
      .bgImg__mainSplash {
        padding-top: 38%; } }
    @media screen and (max-width: 320px) {
      .bgImg__mainSplash {
        padding-top: 38%; } }
  .bgImg__advantage {
    background-image: url("../assets/img/aboutpage-pic.png");
    padding-top: 45.6%; }
    @media screen and (max-width: 1180px) {
      .bgImg__advantage {
        padding-top: 45.6%; } }
    @media screen and (max-width: 980px) {
      .bgImg__advantage {
        padding-top: 45.6%; } }
    @media screen and (max-width: 800px) {
      .bgImg__advantage {
        padding-top: 45.6%; } }
    @media screen and (max-width: 600px) {
      .bgImg__advantage {
        padding-top: 120%; } }
    @media screen and (max-width: 420px) {
      .bgImg__advantage {
        padding-top: 160%; } }
    @media screen and (max-width: 320px) {
      .bgImg__advantage {
        padding-top: 160%; } }

.splash {
  position: relative; }
  .splash__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .splash__content--textCenter {
      display: block;
      width: 100%;
      text-align: center; }
  .splash__heading {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px; }
    @media screen and (max-width: 1320px) {
      .splash__heading {
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 1180px) {
      .splash__heading {
        font-size: 56px;
        line-height: 68px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 980px) {
      .splash__heading {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 1.8px; } }
    @media screen and (max-width: 420px) {
      .splash__heading {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
    @media screen and (max-width: 320px) {
      .splash__heading {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
    .splash__heading--solo {
      margin-bottom: 0; }
  .splash__text {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: Lato, Helvetica, Sans-serif;
    font-weight: 400;
    margin-bottom: 45px; }
    @media screen and (max-width: 1320px) {
      .splash__text {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 1180px) {
      .splash__text {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 980px) {
      .splash__text {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 420px) {
      .splash__text {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 320px) {
      .splash__text {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 0px; } }

.advantage {
  position: relative;
  padding-top: 250px;
  margin-bottom: 250px; }
  @media screen and (max-width: 1320px) {
    .advantage {
      margin-bottom: 310px; } }
  @media screen and (max-width: 1180px) {
    .advantage {
      padding-top: 180px;
      margin-bottom: 380px; } }
  @media screen and (max-width: 980px) {
    .advantage {
      padding-top: 120px;
      margin-bottom: 420px; } }
  @media screen and (max-width: 800px) {
    .advantage {
      padding-top: 80px;
      margin-bottom: 600px; } }
  @media screen and (max-width: 600px) {
    .advantage {
      margin-bottom: 680px; } }
  @media screen and (max-width: 420px) {
    .advantage {
      margin-bottom: 400px; } }
  @media screen and (max-width: 320px) {
    .advantage {
      margin-bottom: 200px; } }
  .advantage__bg {
    margin-top: -250px;
    z-index: -10; }
    @media screen and (max-width: 1180px) {
      .advantage__bg {
        margin-top: -180px; } }
    @media screen and (max-width: 980px) {
      .advantage__bg {
        margin-top: -120px; } }
    @media screen and (max-width: 800px) {
      .advantage__bg {
        margin-top: -80px; } }
  .advantage__content {
    background-color: #f5f5f5;
    padding: 60px 70px;
    position: absolute;
    right: calc(-.5 * (100vw - 1104px));
    width: calc(916px + .5 * (100vw - 1104px)); }
    @media screen and (max-width: 1180px) {
      .advantage__content {
        width: calc(780px + .5 * (100vw - 940px));
        right: calc(-.5 * (100vw - 940px)); } }
    @media screen and (max-width: 980px) {
      .advantage__content {
        width: calc(630px + .5 * (100vw - 760px));
        right: calc(-.5 * (100vw - 760px)); } }
    @media screen and (max-width: 800px) {
      .advantage__content {
        width: calc(464px + .5 * (100vw - 560px));
        right: calc(-.5 * (100vw - 560px)); } }
    @media screen and (max-width: 600px) {
      .advantage__content {
        width: calc(330px + .5 * (100vw - 400px));
        right: calc(-.5 * (100vw - 400px)); } }
    @media screen and (max-width: 420px) {
      .advantage__content {
        width: calc(250px + .5 * (100vw - 304px));
        right: calc(-.5 * (100vw - 304px)); } }
    @media screen and (max-width: 320px) {
      .advantage__content {
        width: calc(214px + .5 * (100vw - 260px));
        right: calc(-.5 * (100vw - 260px)); } }
    .advantage__content > p {
      margin-bottom: 30px; }
      .advantage__content > p:last-child {
        margin-bottom: 0; }

.products {
  position: relative;
  padding-top: 135px;
  padding-bottom: 135px;
  text-align: center; }
  .products__content {
    position: relative; }
  .products__bg {
    background-color: #f5f5f5;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10; }
  .products__heading {
    margin-bottom: 60px; }

.card {
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 5px 11px rgba(196, 196, 196, 0.5);
  padding: 60px 30px 60px;
  width: 30%;
  margin-right: 2.5%;
  margin-left: 2.5%; }
  @media screen and (max-width: 1320px) {
    .card {
      padding: 50px 25px 50px; } }
  @media screen and (max-width: 600px) {
    .card {
      padding: 20px 20px 20px; } }
  .card:first-child {
    margin-left: 0; }
  .card:last-child {
    margin-right: 0; }
  .card__icon {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 3px;
    color: #455560;
    margin-bottom: 15px; }
    @media screen and (max-width: 1320px) {
      .card__icon {
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 1180px) {
      .card__icon {
        font-size: 56px;
        line-height: 68px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 980px) {
      .card__icon {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 1.8px; } }
    @media screen and (max-width: 420px) {
      .card__icon {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
    @media screen and (max-width: 320px) {
      .card__icon {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
  .card__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: .7px;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 700;
    color: #455560;
    margin-bottom: 15px; }
    @media screen and (max-width: 1320px) {
      .card__title {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    @media screen and (max-width: 1180px) {
      .card__title {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    @media screen and (max-width: 980px) {
      .card__title {
        font-size: 26px;
        line-height: 38px;
        letter-spacing: .65px; } }
    @media screen and (max-width: 420px) {
      .card__title {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: .6px; } }
    @media screen and (max-width: 320px) {
      .card__title {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: .6px; } }

.about {
  padding-top: 135px;
  padding-bottom: 135px; }
  .about__content {
    position: relative;
    display: inline-block; }

.news {
  position: relative; }
  .news__content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .news__bg {
    background-color: #f5f5f5;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10; }
  .news__text {
    margin-bottom: 45px; }

.testimonials {
  position: relative;
  padding-top: 135px;
  padding-bottom: 135px; }
  .testimonials__content {
    text-align: center; }

.brands {
  position: relative;
  padding-top: 135px;
  padding-bottom: 135px;
  text-align: center; }
  .brands__bg {
    background-color: #a74f25;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10; }
  .brands__content {
    position: relative; }
  .brands__logoContainer {
    margin-top: 30px; }
  .brands__logo {
    vertical-align: middle;
    display: inline-block; }
    .brands__logo--cinfo {
      width: 30%; }
    .brands__logo--ncds {
      width: 20%; }
    .brands__logo--bevertec {
      margin-left: 20px;
      width: 30%; }
  .brands__logoImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%; }
    .brands__logoImg--cinfo {
      padding-top: 28.5%;
      background-image: url("../assets/img/cinfo_white.png"); }
    .brands__logoImg--ncds {
      padding-top: 60%;
      background-image: url("../assets/img/ncds_white.png"); }
    .brands__logoImg--bevertec {
      padding-top: 25.2%;
      background-image: url("../assets/img/bevertec_white.png"); }

.gallery {
  position: relative;
  height: 300px; }
  .gallery__button {
    z-index: 50;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #455560;
    top: 50%;
    transform: translateY(-50%); }
    .gallery__button--left {
      left: 0; }
    .gallery__button--right {
      right: 0; }
    .gallery__button > i {
      font-size: 36px;
      line-height: 48px;
      letter-spacing: .8px;
      position: relative;
      display: block;
      width: 100%;
      line-height: 44px !important; }
      @media screen and (max-width: 1320px) {
        .gallery__button > i {
          font-size: 36px;
          line-height: 48px;
          letter-spacing: .8px; } }
      @media screen and (max-width: 1180px) {
        .gallery__button > i {
          font-size: 36px;
          line-height: 48px;
          letter-spacing: .8px; } }
      @media screen and (max-width: 980px) {
        .gallery__button > i {
          font-size: 32px;
          line-height: 44px;
          letter-spacing: .75px; } }
      @media screen and (max-width: 420px) {
        .gallery__button > i {
          font-size: 28px;
          line-height: 40px;
          letter-spacing: .7px; } }
      @media screen and (max-width: 320px) {
        .gallery__button > i {
          font-size: 28px;
          line-height: 40px;
          letter-spacing: .7px; } }
  .gallery__cardContainer {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s; }
  .gallery__card {
    transition-duration: 0.3s;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    left: -100%;
    white-space: normal; }

/*# sourceMappingURL=about.css.map */
