.container {
  display: block;
  margin: 0 auto; }

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
  margin-left: 12px;
  margin-right: 12px; }
  @media screen and (max-width: 1120px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (max-width: 320px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 8px;
      margin-right: 8px; } }
  .col_1--c,
  .col_2--c,
  .col_3--c,
  .col_4--c,
  .col_5--c,
  .col_6--c,
  .col_7--c,
  .col_8--c,
  .col_9--c,
  .col_10--c,
  .col_11--c,
  .col_12--c {
    margin-left: 0;
    margin-right: 0; }

.center {
  margin: 0 auto; }

.col_1 {
  width: 70px; }
  @media screen and (max-width: 1120px) {
    .col_1 {
      width: 60px; } }
  @media screen and (max-width: 720px) {
    .col_1 {
      width: 45px; } }
  @media screen and (max-width: 720px) {
    .col_1 {
      width: 50px; } }
  @media screen and (max-width: 420px) {
    .col_1 {
      width: 34px; } }
  @media screen and (max-width: 320px) {
    .col_1 {
      width: 30px; } }

.col_2 {
  width: 152px; }
  @media screen and (max-width: 1120px) {
    .col_2 {
      width: 130px; } }
  @media screen and (max-width: 720px) {
    .col_2 {
      width: 100px; } }
  @media screen and (max-width: 720px) {
    .col_2 {
      width: 50px; } }
  @media screen and (max-width: 420px) {
    .col_2 {
      width: 34px; } }
  @media screen and (max-width: 320px) {
    .col_2 {
      width: 30px; } }

.col_3 {
  width: 234px; }
  @media screen and (max-width: 1120px) {
    .col_3 {
      width: 200px; } }
  @media screen and (max-width: 720px) {
    .col_3 {
      width: 155px; } }
  @media screen and (max-width: 720px) {
    .col_3 {
      width: 110px; } }
  @media screen and (max-width: 420px) {
    .col_3 {
      width: 78px; } }
  @media screen and (max-width: 320px) {
    .col_3 {
      width: 68px; } }

.col_4 {
  width: 316px; }
  @media screen and (max-width: 1120px) {
    .col_4 {
      width: 270px; } }
  @media screen and (max-width: 720px) {
    .col_4 {
      width: 210px; } }
  @media screen and (max-width: 720px) {
    .col_4 {
      width: 110px; } }
  @media screen and (max-width: 420px) {
    .col_4 {
      width: 78px; } }
  @media screen and (max-width: 320px) {
    .col_4 {
      width: 68px; } }

.col_5 {
  width: 398px; }
  @media screen and (max-width: 1120px) {
    .col_5 {
      width: 340px; } }
  @media screen and (max-width: 720px) {
    .col_5 {
      width: 265px; } }
  @media screen and (max-width: 720px) {
    .col_5 {
      width: 170px; } }
  @media screen and (max-width: 420px) {
    .col_5 {
      width: 122px; } }
  @media screen and (max-width: 320px) {
    .col_5 {
      width: 106px; } }

.col_6 {
  width: 480px; }
  @media screen and (max-width: 1120px) {
    .col_6 {
      width: 410px; } }
  @media screen and (max-width: 720px) {
    .col_6 {
      width: 320px; } }
  @media screen and (max-width: 720px) {
    .col_6 {
      width: 170px; } }
  @media screen and (max-width: 420px) {
    .col_6 {
      width: 122px; } }
  @media screen and (max-width: 320px) {
    .col_6 {
      width: 106px; } }

.col_7 {
  width: 562px; }
  @media screen and (max-width: 1120px) {
    .col_7 {
      width: 480px; } }
  @media screen and (max-width: 720px) {
    .col_7 {
      width: 375px; } }
  @media screen and (max-width: 720px) {
    .col_7 {
      width: 230px; } }
  @media screen and (max-width: 420px) {
    .col_7 {
      width: 166px; } }
  @media screen and (max-width: 320px) {
    .col_7 {
      width: 144px; } }

.col_8 {
  width: 644px; }
  @media screen and (max-width: 1120px) {
    .col_8 {
      width: 550px; } }
  @media screen and (max-width: 720px) {
    .col_8 {
      width: 430px; } }
  @media screen and (max-width: 720px) {
    .col_8 {
      width: 230px; } }
  @media screen and (max-width: 420px) {
    .col_8 {
      width: 166px; } }
  @media screen and (max-width: 320px) {
    .col_8 {
      width: 144px; } }

.col_9 {
  width: 726px; }
  @media screen and (max-width: 1120px) {
    .col_9 {
      width: 620px; } }
  @media screen and (max-width: 720px) {
    .col_9 {
      width: 485px; } }
  @media screen and (max-width: 720px) {
    .col_9 {
      width: 290px; } }
  @media screen and (max-width: 420px) {
    .col_9 {
      width: 210px; } }
  @media screen and (max-width: 320px) {
    .col_9 {
      width: 182px; } }

.col_10 {
  width: 808px; }
  @media screen and (max-width: 1120px) {
    .col_10 {
      width: 690px; } }
  @media screen and (max-width: 720px) {
    .col_10 {
      width: 540px; } }
  @media screen and (max-width: 720px) {
    .col_10 {
      width: 290px; } }
  @media screen and (max-width: 420px) {
    .col_10 {
      width: 210px; } }
  @media screen and (max-width: 320px) {
    .col_10 {
      width: 182px; } }

.col_11 {
  width: 890px; }
  @media screen and (max-width: 1120px) {
    .col_11 {
      width: 760px; } }
  @media screen and (max-width: 720px) {
    .col_11 {
      width: 595px; } }
  @media screen and (max-width: 720px) {
    .col_11 {
      width: 350px; } }
  @media screen and (max-width: 420px) {
    .col_11 {
      width: 254px; } }
  @media screen and (max-width: 320px) {
    .col_11 {
      width: 220px; } }

.col_12 {
  width: 972px; }
  @media screen and (max-width: 1120px) {
    .col_12 {
      width: 830px; } }
  @media screen and (max-width: 720px) {
    .col_12 {
      width: 650px; } }
  @media screen and (max-width: 720px) {
    .col_12 {
      width: 350px; } }
  @media screen and (max-width: 420px) {
    .col_12 {
      width: 254px; } }
  @media screen and (max-width: 320px) {
    .col_12 {
      width: 220px; } }

.nav__logo {
  display: inline-block; }
.nav__logoImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/img/logo.svg");
  padding-top: 37.5%; }
.nav__menu {
  list-style: none; }
.nav__menuOption {
  color: #454545;
  display: inline-block;
  text-decoration: none;
  font-family: "PT Sans", Helvetica, Sans-Serif;
  font-weight: 700;
  letter-spacing: 1.9px; }
  .nav__menuOption:hover {
    color: #a74f25; }

/*# sourceMappingURL=main.css.map */
