* {
  box-sizing: border-box; }

body {
  background-color: #fafafa; }

.container {
  display: block;
  margin: 0 auto;
  overflow-x: hidden; }

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
  margin-left: 12px;
  margin-right: 12px; }
  @media screen and (max-width: 1180px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (max-width: 800px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 8px;
      margin-right: 8px; } }
  @media screen and (max-width: 600px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 10px;
      margin-right: 10px; } }
  @media screen and (max-width: 320px) {
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5,
    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12 {
      margin-left: 8px;
      margin-right: 8px; } }
  .col_1--c,
  .col_2--c,
  .col_3--c,
  .col_4--c,
  .col_5--c,
  .col_6--c,
  .col_7--c,
  .col_8--c,
  .col_9--c,
  .col_10--c,
  .col_11--c,
  .col_12--c {
    margin-left: 0;
    margin-right: 0; }

.center {
  margin: 0 auto; }

.col_1 {
  width: 70px; }
  @media screen and (max-width: 1180px) {
    .col_1 {
      width: 60px; } }
  @media screen and (max-width: 980px) {
    .col_1 {
      width: 45px; } }
  @media screen and (max-width: 800px) {
    .col_1 {
      width: 32px; } }
  @media screen and (max-width: 600px) {
    .col_1 {
      width: 50px; } }
  @media screen and (max-width: 420px) {
    .col_1 {
      width: 34px; } }
  @media screen and (max-width: 320px) {
    .col_1 {
      width: 30px; } }

.col_2 {
  width: 164px; }
  @media screen and (max-width: 1180px) {
    .col_2 {
      width: 140px; } }
  @media screen and (max-width: 980px) {
    .col_2 {
      width: 110px; } }
  @media screen and (max-width: 800px) {
    .col_2 {
      width: 80px; } }
  @media screen and (max-width: 600px) {
    .col_2 {
      width: 50px; } }
  @media screen and (max-width: 420px) {
    .col_2 {
      width: 34px; } }
  @media screen and (max-width: 320px) {
    .col_2 {
      width: 30px; } }

.col_3 {
  width: 258px; }
  @media screen and (max-width: 1180px) {
    .col_3 {
      width: 220px; } }
  @media screen and (max-width: 980px) {
    .col_3 {
      width: 175px; } }
  @media screen and (max-width: 800px) {
    .col_3 {
      width: 128px; } }
  @media screen and (max-width: 600px) {
    .col_3 {
      width: 120px; } }
  @media screen and (max-width: 420px) {
    .col_3 {
      width: 88px; } }
  @media screen and (max-width: 320px) {
    .col_3 {
      width: 76px; } }

.col_4 {
  width: 352px; }
  @media screen and (max-width: 1180px) {
    .col_4 {
      width: 300px; } }
  @media screen and (max-width: 980px) {
    .col_4 {
      width: 240px; } }
  @media screen and (max-width: 800px) {
    .col_4 {
      width: 176px; } }
  @media screen and (max-width: 600px) {
    .col_4 {
      width: 120px; } }
  @media screen and (max-width: 420px) {
    .col_4 {
      width: 88px; } }
  @media screen and (max-width: 320px) {
    .col_4 {
      width: 76px; } }

.col_5 {
  width: 446px; }
  @media screen and (max-width: 1180px) {
    .col_5 {
      width: 380px; } }
  @media screen and (max-width: 980px) {
    .col_5 {
      width: 305px; } }
  @media screen and (max-width: 800px) {
    .col_5 {
      width: 224px; } }
  @media screen and (max-width: 600px) {
    .col_5 {
      width: 190px; } }
  @media screen and (max-width: 420px) {
    .col_5 {
      width: 142px; } }
  @media screen and (max-width: 320px) {
    .col_5 {
      width: 122px; } }

.col_6 {
  width: 540px; }
  @media screen and (max-width: 1180px) {
    .col_6 {
      width: 460px; } }
  @media screen and (max-width: 980px) {
    .col_6 {
      width: 370px; } }
  @media screen and (max-width: 800px) {
    .col_6 {
      width: 272px; } }
  @media screen and (max-width: 600px) {
    .col_6 {
      width: 190px; } }
  @media screen and (max-width: 420px) {
    .col_6 {
      width: 142px; } }
  @media screen and (max-width: 320px) {
    .col_6 {
      width: 122px; } }

.col_7 {
  width: 634px; }
  @media screen and (max-width: 1180px) {
    .col_7 {
      width: 540px; } }
  @media screen and (max-width: 980px) {
    .col_7 {
      width: 435px; } }
  @media screen and (max-width: 800px) {
    .col_7 {
      width: 320px; } }
  @media screen and (max-width: 600px) {
    .col_7 {
      width: 260px; } }
  @media screen and (max-width: 420px) {
    .col_7 {
      width: 196px; } }
  @media screen and (max-width: 320px) {
    .col_7 {
      width: 168px; } }

.col_8 {
  width: 728px; }
  @media screen and (max-width: 1180px) {
    .col_8 {
      width: 620px; } }
  @media screen and (max-width: 980px) {
    .col_8 {
      width: 500px; } }
  @media screen and (max-width: 800px) {
    .col_8 {
      width: 368px; } }
  @media screen and (max-width: 600px) {
    .col_8 {
      width: 260px; } }
  @media screen and (max-width: 420px) {
    .col_8 {
      width: 196px; } }
  @media screen and (max-width: 320px) {
    .col_8 {
      width: 168px; } }

.col_9 {
  width: 822px; }
  @media screen and (max-width: 1180px) {
    .col_9 {
      width: 700px; } }
  @media screen and (max-width: 980px) {
    .col_9 {
      width: 565px; } }
  @media screen and (max-width: 800px) {
    .col_9 {
      width: 416px; } }
  @media screen and (max-width: 600px) {
    .col_9 {
      width: 330px; } }
  @media screen and (max-width: 420px) {
    .col_9 {
      width: 250px; } }
  @media screen and (max-width: 320px) {
    .col_9 {
      width: 214px; } }

.col_10 {
  width: 916px; }
  @media screen and (max-width: 1180px) {
    .col_10 {
      width: 780px; } }
  @media screen and (max-width: 980px) {
    .col_10 {
      width: 630px; } }
  @media screen and (max-width: 800px) {
    .col_10 {
      width: 464px; } }
  @media screen and (max-width: 600px) {
    .col_10 {
      width: 330px; } }
  @media screen and (max-width: 420px) {
    .col_10 {
      width: 250px; } }
  @media screen and (max-width: 320px) {
    .col_10 {
      width: 214px; } }

.col_11 {
  width: 1010px; }
  @media screen and (max-width: 1180px) {
    .col_11 {
      width: 860px; } }
  @media screen and (max-width: 980px) {
    .col_11 {
      width: 695px; } }
  @media screen and (max-width: 800px) {
    .col_11 {
      width: 512px; } }
  @media screen and (max-width: 600px) {
    .col_11 {
      width: 400px; } }
  @media screen and (max-width: 420px) {
    .col_11 {
      width: 304px; } }
  @media screen and (max-width: 320px) {
    .col_11 {
      width: 260px; } }

.col_12 {
  width: 1104px; }
  @media screen and (max-width: 1180px) {
    .col_12 {
      width: 940px; } }
  @media screen and (max-width: 980px) {
    .col_12 {
      width: 760px; } }
  @media screen and (max-width: 800px) {
    .col_12 {
      width: 560px; } }
  @media screen and (max-width: 600px) {
    .col_12 {
      width: 400px; } }
  @media screen and (max-width: 420px) {
    .col_12 {
      width: 304px; } }
  @media screen and (max-width: 320px) {
    .col_12 {
      width: 260px; } }
  .col_12--fullbleed {
    position: relative;
    width: 100vw;
    left: calc(-.5 * (100vw - 1104px)); }
    @media screen and (max-width: 1180px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 940px)); } }
    @media screen and (max-width: 980px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 760px)); } }
    @media screen and (max-width: 800px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 560px)); } }
    @media screen and (max-width: 600px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 400px)); } }
    @media screen and (max-width: 420px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 304px)); } }
    @media screen and (max-width: 320px) {
      .col_12--fullbleed {
        left: calc(-.5 * (100vw - 260px)); } }

.nav {
  position: fixed;
  top: 0;
  display: block;
  padding-top: 25px;
  padding-bottom: 10px;
  z-index: 9999;
  width: 100vw;
  background-color: #ffffff; }
  .nav--buffer {
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    z-index: -9999;
    width: 100vw;
    background-color: #fafafa; }
  .nav__logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0; }
    @media screen and (max-width: 800px) {
      .nav__logo {
        width: 176px; } }
    @media screen and (max-width: 600px) {
      .nav__logo {
        width: 190px; } }
    @media screen and (max-width: 420px) {
      .nav__logo {
        width: 142px; } }
    @media screen and (max-width: 320px) {
      .nav__logo {
        width: 122px; } }
  .nav__logoImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../assets/img/logo.svg");
    padding-top: 37.5%; }
  .nav__mobileMenuWrapper {
    float: right;
    display: none; }
    @media screen and (max-width: 800px) {
      .nav__mobileMenuWrapper {
        display: inline-block; } }
    @media screen and (max-width: 800px) {
      .nav__mobileMenuWrapper {
        width: 176px;
        margin: 0; } }
    @media screen and (max-width: 600px) {
      .nav__mobileMenuWrapper {
        width: 190px; } }
    @media screen and (max-width: 420px) {
      .nav__mobileMenuWrapper {
        width: 142px; } }
    @media screen and (max-width: 320px) {
      .nav__mobileMenuWrapper {
        width: 122px; } }
  .nav__mobileMenu {
    padding-top: 37.5%;
    width: 37.5%;
    float: right;
    position: relative; }
  .nav__mobileMenuBar {
    width: 60%;
    height: 2px;
    background-color: #455560;
    position: absolute;
    left: 20%;
    transition-duration: 0.3s;
    transform-origin: 50% 50%; }
    .nav__mobileMenuBar--1 {
      top: 30%; }
      .nav__mobileMenuBar--1.center {
        top: 50%;
        transform: translateY(-50%); }
      .nav__mobileMenuBar--1.rotate {
        transform: rotate(-45deg); }
    .nav__mobileMenuBar--2 {
      top: 50%;
      transform: translateY(-50%); }
      .nav__mobileMenuBar--2.rotate {
        transform: rotate(45deg); }
    .nav__mobileMenuBar--3 {
      top: calc(70% - 2px); }
      .nav__mobileMenuBar--3.center {
        top: 50%;
        transform: translateY(-50%); }
      .nav__mobileMenuBar--3.rotate {
        transform: rotate(45deg); }
  .nav__links {
    display: inline-block;
    text-align: right;
    margin-right: 0; }
    @media screen and (max-width: 800px) {
      .nav__links {
        display: block;
        position: absolute;
        left: 0;
        margin-left: 0;
        height: 0;
        width: 100vw;
        top: 100%;
        background-color: rgba(39, 49, 56, 0.99);
        transition-duration: 0.6s;
        z-index: 0;
        overflow: hidden;
        padding: 0; }
        .nav__links.active {
          height: calc(100vh - 100%); } }
  .nav__menu {
    display: inline-block;
    text-align: left; }
    @media screen and (max-width: 800px) {
      .nav__menu {
        display: block;
        width: 80%;
        margin: 40px auto; } }
  .nav__menuOption {
    font-size: 16px;
    line-height: 30px;
    transition-duration: 0.3s;
    color: #455560;
    display: inline-block;
    text-decoration: none;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    letter-spacing: 1.9px;
    margin-left: 46px; }
    @media screen and (max-width: 1320px) {
      .nav__menuOption {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .nav__menuOption {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .nav__menuOption {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .nav__menuOption {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .nav__menuOption {
        font-size: 12px;
        line-height: 28px; } }
    .nav__menuOption:hover {
      color: #a74f25; }
    .nav__menuOption.active {
      color: #a74f25; }
      @media screen and (max-width: 800px) {
        .nav__menuOption.active {
          color: #ffffff; } }
    @media screen and (max-width: 800px) {
      .nav__menuOption {
        display: block;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px;
        color: #ffffff;
        border-bottom: #ffffff 1px solid;
        padding-bottom: 10px;
        margin: 40px auto 0;
        width: 100%; } }
  @media screen and (max-width: 800px) and (max-width: 1320px) {
    .nav__menuOption {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .7px; } }
  @media screen and (max-width: 800px) and (max-width: 1180px) {
    .nav__menuOption {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .7px; } }
  @media screen and (max-width: 800px) and (max-width: 980px) {
    .nav__menuOption {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: .6px; } }
  @media screen and (max-width: 800px) and (max-width: 420px) {
    .nav__menuOption {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: .6px; } }
  @media screen and (max-width: 800px) and (max-width: 320px) {
    .nav__menuOption {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: .6px; } }

    .nav__menuOption > li {
      width: 100%; }
  .nav__menuOptionIcon {
    display: none; }
    @media screen and (max-width: 800px) {
      .nav__menuOptionIcon {
        display: inline-block;
        float: right;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
  @media screen and (max-width: 800px) and (max-width: 1320px) {
    .nav__menuOptionIcon {
      font-size: 36px;
      line-height: 48px;
      letter-spacing: .8px; } }
  @media screen and (max-width: 800px) and (max-width: 1180px) {
    .nav__menuOptionIcon {
      font-size: 36px;
      line-height: 48px;
      letter-spacing: .8px; } }
  @media screen and (max-width: 800px) and (max-width: 980px) {
    .nav__menuOptionIcon {
      font-size: 32px;
      line-height: 44px;
      letter-spacing: .75px; } }
  @media screen and (max-width: 800px) and (max-width: 420px) {
    .nav__menuOptionIcon {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .7px; } }
  @media screen and (max-width: 800px) and (max-width: 320px) {
    .nav__menuOptionIcon {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .7px; } }

.footer {
  position: relative;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #273138; }
  .footer__bg {
    background-color: #273138;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10; }
  .footer__logoImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./assets/img/footerlogo.png");
    padding-top: 37.5%; }
  .footer__info {
    display: inline-block;
    margin-left: 0; }
    @media screen and (max-width: 800px) {
      .footer__info {
        display: block;
        width: 100%; } }
  .footer__logo {
    display: block;
    margin-bottom: 20px; }
  .footer__desc {
    margin-left: 15%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    letter-spacing: 1px; }
    @media screen and (max-width: 800px) {
      .footer__desc {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px; } }
    @media screen and (max-width: 1320px) {
      .footer__desc {
        font-size: 12px;
        line-height: 22px; } }
    @media screen and (max-width: 1180px) {
      .footer__desc {
        font-size: 12px;
        line-height: 22px; } }
    @media screen and (max-width: 980px) {
      .footer__desc {
        font-size: 12px;
        line-height: 22px; } }
    @media screen and (max-width: 420px) {
      .footer__desc {
        font-size: 12px;
        line-height: 22px; } }
    @media screen and (max-width: 320px) {
      .footer__desc {
        font-size: 12px;
        line-height: 22px; } }
    @media screen and (max-width: 800px) {
      .footer__desc {
        margin-left: 0; } }
    .footer__desc--canada {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 30px; }
      @media screen and (max-width: 1320px) {
        .footer__desc--canada {
          font-size: 16px;
          line-height: 30px; } }
      @media screen and (max-width: 1180px) {
        .footer__desc--canada {
          font-size: 16px;
          line-height: 30px; } }
      @media screen and (max-width: 980px) {
        .footer__desc--canada {
          font-size: 14px;
          line-height: 28px; } }
      @media screen and (max-width: 420px) {
        .footer__desc--canada {
          font-size: 12px;
          line-height: 28px; } }
      @media screen and (max-width: 320px) {
        .footer__desc--canada {
          font-size: 12px;
          line-height: 28px; } }
  .footer__canada {
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-2px); }
  .footer__descLink {
    transition-duration: 0.3s; }
    .footer__descLink:hover {
      color: #ffffff; }
  .footer__links {
    display: inline-block;
    margin-right: 0;
    vertical-align: top; }
    @media screen and (max-width: 800px) {
      .footer__links {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 0; } }
    .footer__links:after {
      content: "";
      clear: both;
      display: block; }
  .footer__menu {
    float: right;
    margin-left: 56px; }
    @media screen and (max-width: 800px) {
      .footer__menu {
        float: none;
        margin-left: 0; } }
    @media screen and (max-width: 800px) {
      .footer__menu--mHide {
        display: none; } }
    .footer__menu > a {
      margin-bottom: 5px; }
  .footer__menuCategory {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: #ffffff;
    display: block;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 10px;
    text-transform: uppercase; }
    @media screen and (max-width: 800px) {
      .footer__menuCategory {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px; } }
  .footer__menuOption {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.1px;
    transition-duration: 0.3s;
    color: #ffffff;
    clear: left;
    float: left;
    display: inline-block;
    text-decoration: none;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition-duration: 0.4s; }
    @media screen and (max-width: 800px) {
      .footer__menuOption {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px; } }
    .footer__menuOption:hover {
      border-bottom: 1px solid #ffffff; }
  .footer__social {
    clear: left;
    float: left;
    display: inline-block; }
  .footer__menuIcon {
    display: inline-block;
    margin-top: 15px;
    transition-duration: 0.4s; }
    .footer__menuIcon:hover {
      transform: scale(1.1); }
    .footer__menuIcon > img {
      width: 32px;
      height: 32px;
      margin-right: 13px; }

.splash {
  position: relative; }
  .splash__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .splash__content--textCenter {
      display: block;
      width: 100%;
      text-align: center; }
  .splash__heading {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px; }
    @media screen and (max-width: 1320px) {
      .splash__heading {
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 1180px) {
      .splash__heading {
        font-size: 56px;
        line-height: 68px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 980px) {
      .splash__heading {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 1.8px; } }
    @media screen and (max-width: 420px) {
      .splash__heading {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
    @media screen and (max-width: 320px) {
      .splash__heading {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
    .splash__heading--solo {
      margin-bottom: 0; }

.section {
  padding-top: 190px;
  padding-bottom: 110px; }
  @media screen and (max-width: 1180px) {
    .section {
      padding-top: 135px;
      padding-bottom: 110px; } }
  @media screen and (max-width: 800px) {
    .section {
      padding-top: 80px;
      padding-bottom: 100px; } }
  .section--textCenter {
    text-align: center; }
  .section__content {
    position: relative;
    display: inline-block; }
  .section__aboutFeature {
    position: relative; }
  .section__aboutFeatureText {
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 800px) {
      .section__aboutFeatureText {
        width: 560px; } }
    @media screen and (max-width: 600px) {
      .section__aboutFeatureText {
        width: 400px; } }
    @media screen and (max-width: 420px) {
      .section__aboutFeatureText {
        width: 304px; } }
    @media screen and (max-width: 320px) {
      .section__aboutFeatureText {
        width: 260px; } }
  .section__aboutFeatureImg {
    position: relative;
    float: right; }
    @media screen and (max-width: 800px) {
      .section__aboutFeatureImg {
        display: none; } }
  .section__about {
    padding-bottom: 135px; }
  .section__heading {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .8px;
    color: #455560;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400;
    margin-bottom: 30px; }
    @media screen and (max-width: 1320px) {
      .section__heading {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
    @media screen and (max-width: 1180px) {
      .section__heading {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
    @media screen and (max-width: 980px) {
      .section__heading {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: .75px; } }
    @media screen and (max-width: 420px) {
      .section__heading {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    @media screen and (max-width: 320px) {
      .section__heading {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    .section__heading--white {
      color: #ffffff; }
    .section__heading--bold {
      font-weight: 700; }
    @media screen and (max-width: 800px) {
      .section__heading {
        width: 100%; } }
  .section__subheading {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #455560;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px; }
    .section__subheading--white {
      color: #ffffff; }
    .section__subheading--normal {
      font-weight: 400; }
  .section__caption {
    font-size: 16px;
    line-height: 30px;
    color: #455560;
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 300;
    font-style: italic; }
    @media screen and (max-width: 1320px) {
      .section__caption {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .section__caption {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .section__caption {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .section__caption {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .section__caption {
        font-size: 12px;
        line-height: 28px; } }
    .section__caption--white {
      color: #ffffff; }
  .section__body {
    font-size: 16px;
    line-height: 30px;
    color: #455560;
    font-family: Lato, Helvetica, Sans-serif;
    font-weight: 400;
    margin-bottom: 20px; }
    @media screen and (max-width: 1320px) {
      .section__body {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .section__body {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .section__body {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .section__body {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .section__body {
        font-size: 12px;
        line-height: 28px; } }
    .section__body--splash {
      letter-spacing: 1.7px;
      margin-bottom: 45px; }
    .section__body--bold {
      font-weight: bold; }
    .section__body--italic {
      font-style: italic; }
    .section__body--white {
      color: #ffffff; }
    .section__body--pCard {
      line-height: 22px; }
    @media screen and (max-width: 800px) {
      .section__body {
        width: 100%; } }
  .section__cardContainer {
    margin-bottom: 40px; }
    @media screen and (max-width: 800px) {
      .section__cardContainer {
        margin-bottom: 0; } }
  @media screen and (max-width: 800px) {
    .section--testimonials {
      display: none; } }
  .section--news {
    padding-top: 0;
    padding-bottom: 0; }

.button {
  font-size: 16px;
  line-height: 30px;
  transition-duration: 0.3s;
  display: inline-block;
  padding: 12px 33px 10px;
  font-family: "PT Sans", Helvetica, Sans-Serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: #455560; }
  @media screen and (max-width: 1320px) {
    .button {
      font-size: 16px;
      line-height: 30px; } }
  @media screen and (max-width: 1180px) {
    .button {
      font-size: 16px;
      line-height: 30px; } }
  @media screen and (max-width: 980px) {
    .button {
      font-size: 14px;
      line-height: 28px; } }
  @media screen and (max-width: 420px) {
    .button {
      font-size: 12px;
      line-height: 28px; } }
  @media screen and (max-width: 320px) {
    .button {
      font-size: 12px;
      line-height: 28px; } }
  .button:hover {
    border-color: #a74f25;
    background-color: #a74f25;
    color: #ffffff; }
  .button--wb {
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff; }
    .button--wb:hover {
      border-color: #a74f25;
      background-color: #a74f25; }

.bgImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .bgImg__mainSplash {
    background-image: url("../assets/img/about_header.jpg");
    padding-top: 25.6%; }
    @media screen and (max-width: 1180px) {
      .bgImg__mainSplash {
        padding-top: 25.6%; } }
    @media screen and (max-width: 980px) {
      .bgImg__mainSplash {
        padding-top: 25.6%; } }
    @media screen and (max-width: 800px) {
      .bgImg__mainSplash {
        padding-top: 37%; } }
    @media screen and (max-width: 600px) {
      .bgImg__mainSplash {
        padding-top: 43%; } }
    @media screen and (max-width: 420px) {
      .bgImg__mainSplash {
        background-image: url("../assets/img/about_header_mobile.jpg");
        padding-top: 50%; } }
    @media screen and (max-width: 320px) {
      .bgImg__mainSplash {
        padding-top: 50%; } }
  .bgImg__advantage {
    background-image: url("../assets/img/aboutpage-pic.png");
    padding-top: 35.6%; }
    @media screen and (max-width: 1180px) {
      .bgImg__advantage {
        padding-top: 35.6%; } }
    @media screen and (max-width: 980px) {
      .bgImg__advantage {
        padding-top: 35.6%; } }
    @media screen and (max-width: 800px) {
      .bgImg__advantage {
        padding-top: 35.6%; } }
    @media screen and (max-width: 600px) {
      .bgImg__advantage {
        padding-top: 120%; } }
    @media screen and (max-width: 420px) {
      .bgImg__advantage {
        padding-top: 160%; } }
    @media screen and (max-width: 320px) {
      .bgImg__advantage {
        padding-top: 160%; } }
  .bgImg__aboutContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: calc(-.5 * (100vw - 1104px));
    width: calc(446px + .5 * (100vw - 1104px)); }
    @media screen and (max-width: 1180px) {
      .bgImg__aboutContainer {
        width: calc(380px + .5 * (100vw - 940px));
        right: calc(-.5 * (100vw - 940px)); } }
    @media screen and (max-width: 980px) {
      .bgImg__aboutContainer {
        width: calc(305px + .5 * (100vw - 760px));
        right: calc(-.5 * (100vw - 760px)); } }
    @media screen and (max-width: 800px) {
      .bgImg__aboutContainer {
        width: 100vw;
        position: relative;
        top: auto;
        transform: none;
        margin-top: 60px;
        left: calc(-.5 * (100vw - 560px)); } }
    @media screen and (max-width: 600px) {
      .bgImg__aboutContainer {
        margin-top: 40px;
        left: calc(-.5 * (100vw - 400px)); } }
    @media screen and (max-width: 420px) {
      .bgImg__aboutContainer {
        left: calc(-.5 * (100vw - 304px)); } }
    @media screen and (max-width: 320px) {
      .bgImg__aboutContainer {
        left: calc(-.5 * (100vw - 260px)); } }
  .bgImg__about {
    background-image: url("../assets/img/about-man.png");
    padding-top: 70%; }
    @media screen and (max-width: 1180px) {
      .bgImg__about {
        padding-top: 80%; } }
    @media screen and (max-width: 980px) {
      .bgImg__about {
        background-image: url("../assets/img/about-man-tablet.png");
        padding-top: 90%; } }
    @media screen and (max-width: 800px) {
      .bgImg__about {
        padding-top: 40%; } }
    @media screen and (max-width: 600px) {
      .bgImg__about {
        padding-top: 50%; } }
    @media screen and (max-width: 420px) {
      .bgImg__about {
        background-image: url("../assets/img/about-man-mobile.png");
        padding-top: 50%; } }
    @media screen and (max-width: 320px) {
      .bgImg__about {
        padding-top: 50%; } }

.productNav {
  position: relative;
  margin-top: 65px;
  padding-top: 50px;
  padding-bottom: 65px; }
  @media screen and (max-width: 980px) {
    .productNav {
      margin-top: 65px; } }
  @media screen and (max-width: 800px) {
    .productNav {
      margin-top: 60px; } }
  @media screen and (max-width: 600px) {
    .productNav {
      margin-top: 50px; } }
  @media screen and (max-width: 420px) {
    .productNav {
      margin-top: 50px; } }
  @media screen and (max-width: 320px) {
    .productNav {
      margin-top: 50px; } }
  .productNav__content {
    font-family: "PT Sans", Helvetica, Sans-Serif;
    font-weight: 400; }
    @media screen and (max-width: 980px) {
      .productNav__content {
        width: 100%; } }
  .productNav__heading {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 3px;
    color: #455560;
    text-transform: uppercase;
    margin-bottom: 20px; }
    @media screen and (max-width: 1320px) {
      .productNav__heading {
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 1180px) {
      .productNav__heading {
        font-size: 56px;
        line-height: 68px;
        letter-spacing: 3px; } }
    @media screen and (max-width: 980px) {
      .productNav__heading {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 1.8px; } }
    @media screen and (max-width: 420px) {
      .productNav__heading {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
    @media screen and (max-width: 320px) {
      .productNav__heading {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 1.4px; } }
  @media screen and (max-width: 420px) {
    .productNav__dropdownShow {
      max-height: 0;
      overflow: hidden;
      font-size: 16px;
      line-height: 30px;
      transition: max-height 0.3s; } }
  @media screen and (max-width: 420px) and (max-width: 1320px) {
    .productNav__dropdownShow {
      font-size: 16px;
      line-height: 30px; } }
  @media screen and (max-width: 420px) and (max-width: 1180px) {
    .productNav__dropdownShow {
      font-size: 16px;
      line-height: 30px; } }
  @media screen and (max-width: 420px) and (max-width: 980px) {
    .productNav__dropdownShow {
      font-size: 14px;
      line-height: 28px; } }
  @media screen and (max-width: 420px) and (max-width: 420px) {
    .productNav__dropdownShow {
      font-size: 12px;
      line-height: 28px; } }
  @media screen and (max-width: 420px) and (max-width: 320px) {
    .productNav__dropdownShow {
      font-size: 12px;
      line-height: 28px; } }

  .productNav__filters {
    list-style: none;
    margin-bottom: 15px; }
    @media screen and (max-width: 420px) {
      .productNav__filters {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #455560; } }
  .productNav__filtersOptions {
    transition-duration: 0.3s;
    display: inline-block;
    color: #455560;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0px;
    cursor: pointer;
    font-family: "PT Sans", Helvetica, Sans-Serif; }
    @media screen and (max-width: 1320px) {
      .productNav__filtersOptions {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 1180px) {
      .productNav__filtersOptions {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 980px) {
      .productNav__filtersOptions {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 420px) {
      .productNav__filtersOptions {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 320px) {
      .productNav__filtersOptions {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 0px; } }
    .productNav__filtersOptions.active {
      color: #a74f25; }
    .productNav__filtersOptions:hover {
      color: #a74f25; }
    .productNav__filtersOptions:after {
      color: #455560;
      content: " /"; }
      @media screen and (max-width: 420px) {
        .productNav__filtersOptions:after {
          content: ""; } }
    .productNav__filtersOptions:last-child:after {
      content: ""; }
    @media screen and (max-width: 420px) {
      .productNav__filtersOptions {
        display: block;
        padding-left: 10px;
        padding-right: 10px; } }
    .productNav__filtersOptions--active {
      font-size: 24px;
      line-height: 38px;
      letter-spacing: 0px;
      cursor: pointer;
      font-family: "PT Sans", Helvetica, Sans-Serif;
      display: none; }
      @media screen and (max-width: 1320px) {
        .productNav__filtersOptions--active {
          font-size: 24px;
          line-height: 38px;
          letter-spacing: 0px; } }
      @media screen and (max-width: 1180px) {
        .productNav__filtersOptions--active {
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 0px; } }
      @media screen and (max-width: 980px) {
        .productNav__filtersOptions--active {
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 0px; } }
      @media screen and (max-width: 420px) {
        .productNav__filtersOptions--active {
          font-size: 16px;
          line-height: 34px;
          letter-spacing: 0px; } }
      @media screen and (max-width: 320px) {
        .productNav__filtersOptions--active {
          font-size: 16px;
          line-height: 34px;
          letter-spacing: 0px; } }
      .productNav__filtersOptions--active:after {
        content: ""; }
      @media screen and (max-width: 420px) {
        .productNav__filtersOptions--active {
          padding-left: 10px;
          padding-right: 10px;
          display: block;
          position: relative;
          color: #a74f25; } }
    .productNav__filtersOptions--arrow {
      display: none; }
      @media screen and (max-width: 420px) {
        .productNav__filtersOptions--arrow {
          display: inline-block;
          color: #455560;
          transition-duration: 0.3s;
          position: absolute;
          right: 10px;
          top: 17px;
          transform: translateY(-50%);
          transform-origin: center;
          font-size: 28px;
          line-height: 40px;
          letter-spacing: .7px;
          pointer-events: none; } }
  @media screen and (max-width: 420px) and (max-width: 1320px) {
    .productNav__filtersOptions--arrow {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .7px; } }
  @media screen and (max-width: 420px) and (max-width: 1180px) {
    .productNav__filtersOptions--arrow {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .7px; } }
  @media screen and (max-width: 420px) and (max-width: 980px) {
    .productNav__filtersOptions--arrow {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: .6px; } }
  @media screen and (max-width: 420px) and (max-width: 420px) {
    .productNav__filtersOptions--arrow {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: .6px; } }
  @media screen and (max-width: 420px) and (max-width: 320px) {
    .productNav__filtersOptions--arrow {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: .6px; } }
      @media screen and (max-width: 420px) {
          .productNav__filtersOptions--arrow.active {
            top: 0;
            transform: none;
            transform: rotate(180deg); }
          .productNav__filtersOptions--arrow--dropdown {
            transition-duration: 0.3s;
            right: auto;
            transform: none;
            top: auto;
            transform-origin: center;
            position: relative;
            float: right; }
            .productNav__filtersOptions--arrow--dropdown.active {
              transform: rotate(180deg); } }
  .productNav__submessage {
    font-size: 16px;
    line-height: 30px; }
    @media screen and (max-width: 1320px) {
      .productNav__submessage {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .productNav__submessage {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .productNav__submessage {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .productNav__submessage {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .productNav__submessage {
        font-size: 12px;
        line-height: 28px; } }
    .productNav__submessage > a {
      color: #a74f25;
      text-decoration: underline; }

.product {
  padding: 65px 25px 65px 35px;
  color: #455560;
  font-family: "PT Sans", Helvetica, Sans-Serif;
  margin-bottom: 45px;
  position: relative;
  transition-duration: 0.3s;
  background-color: #ffffff; }
  @media screen and (max-width: 980px) {
    .product {
      padding: 45px 20px 45px 20px;
      margin-bottom: 25px; } }
  @media screen and (max-width: 420px) {
    .product {
      padding: 24px 15px 24px 15px;
      margin-bottom: 10px; } }
  .product:hover > i {
    color: #a74f25; }
  .product > h4 {
    transform: translateY(5px); }
  .product.fade {
    opacity: 0; }
  .product.hide {
    display: none; }
  .product__container {
    box-shadow: 0 4px 18px rgba(196, 196, 196, 0.5);
    background-color: #f9f9f9;
    display: block;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #455560; }
    .product__container.fade {
      opacity: 0; }
    .product__container.hide {
      display: none; }
  .product__wrapper {
    margin-bottom: 120px; }
  .product__heading {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px !important; }
    @media screen and (max-width: 1320px) {
      .product__heading {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 1180px) {
      .product__heading {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 980px) {
      .product__heading {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 420px) {
      .product__heading {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 0px; } }
    @media screen and (max-width: 320px) {
      .product__heading {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: 0px; } }
    .product__heading--dropdown {
      display: inline-block; }
      @media screen and (max-width: 420px) {
        .product__heading--dropdown {
          max-width: 80%; } }
  .product__body {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: .5px; }
    @media screen and (max-width: 1320px) {
      .product__body {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .product__body {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .product__body {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .product__body {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .product__body {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 600px) {
      .product__body {
        display: none; } }
  .product__arrow {
    transition-duration: 0.3s;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .8px;
    cursor: pointer; }
    @media screen and (max-width: 1320px) {
      .product__arrow {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
    @media screen and (max-width: 1180px) {
      .product__arrow {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: .8px; } }
    @media screen and (max-width: 980px) {
      .product__arrow {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: .75px; } }
    @media screen and (max-width: 420px) {
      .product__arrow {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    @media screen and (max-width: 320px) {
      .product__arrow {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .7px; } }
    .product__arrow--dropdown {
      transition-duration: 0.3s;
      right: auto;
      transform: none;
      top: auto;
      transform-origin: center;
      position: relative;
      float: right; }
      .product__arrow--dropdown.active {
        transform: rotate(180deg); }
  .product__dropdown {
    box-shadow: 0 4px 18px rgba(196, 196, 196, 0.5); }
  .product__dropdownShow {
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    transition: max-height 0.3s; }
    @media screen and (max-width: 1320px) {
      .product__dropdownShow {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 1180px) {
      .product__dropdownShow {
        font-size: 16px;
        line-height: 30px; } }
    @media screen and (max-width: 980px) {
      .product__dropdownShow {
        font-size: 14px;
        line-height: 28px; } }
    @media screen and (max-width: 420px) {
      .product__dropdownShow {
        font-size: 12px;
        line-height: 28px; } }
    @media screen and (max-width: 320px) {
      .product__dropdownShow {
        font-size: 12px;
        line-height: 28px; } }
    .product__dropdownShow > p {
      margin-top: 30px; }
    .product__dropdownShow > ul {
      margin-top: 30px; }
      .product__dropdownShow > ul > li {
        padding-left: 10px;
        width: calc(100% - 30px); }
        .product__dropdownShow > ul > li:before {
          content: "\2022";
          margin-right: 10px; }
  .product__link {
    text-decoration: underline;
    color: #a74f25; }

/*# sourceMappingURL=product.css.map */
