@import 'mixins.scss';

@import 'modules/grid.scss';
@import 'modules/font.scss';
@import 'modules/nav.scss';
@import 'modules/section.scss';
@import 'modules/inputs.scss';

@import 'img/img_about.scss';

.advantage {
  @include bg-solo;
  position: relative;
  padding: {
    top: 400px;
    bottom: 500px;
  }
  margin: {
    top: 50px;
    bottom: 200px;
  }
  background-image: url('../assets/img/aboutpage-pic.png');

  @media screen and (max-width: $break-desktop-l) {
    padding: {
      top: 400px;
    }
    margin-bottom: 200px;
  }

  @media screen and (max-width: $break-desktop-s) {
    padding-top: 300px;
    margin-bottom: 160px;
  }

  @media screen and (max-width: $break-tablet-l) {
    margin: {
      top: 0px;
      bottom: 160px;
    }
  }

  @media screen and (max-width: $break-tablet-s) {
    padding: {
      top: 0;
      bottom: 0;
    }
    margin-bottom: 0;
  }

  @include e('bg') {
    margin-top: -250px;
    z-index: -10;

    @media screen and (max-width: $break-desktop-l) {
    }

    @media screen and (max-width: $break-desktop-s) {
      margin-top: -180px;
    }

    @media screen and (max-width: $break-tablet-l) {
      margin-top: -120px;
    }

    @media screen and (max-width: $break-tablet-s) {
      display: none;
    }
  }

  @include e('content') {
    background-color: $featureWhite;
    padding: 100px 70px;
    // vertical-align: top;
    position: absolute;
    right: calc(-.5 * (100vw - #{12 * $col-desktop-l + 22 * $margin-desktop-l}));
    width: calc(#{12 * $col-desktop-l + 22 * $margin-desktop-l} + .5 * (100vw - #{12 * $col-desktop-l + 22 * $margin-desktop-l}));

  	@media screen and (max-width: $break-desktop-s) {
  		width: calc(#{12 * $col-desktop-s + 22 * $margin-desktop-s} + .5 * (100vw - #{12 * $col-desktop-s + 22 * $margin-desktop-s}));
      right: calc(-.5 * (100vw - #{12 * $col-desktop-s + 22 * $margin-desktop-s}));
  	}

  	@media screen and (max-width: $break-tablet-l) {
  		width: calc(#{12 * $col-tablet-l + 22 * $margin-desktop-s} + .5 * (100vw - #{12 * $col-tablet-l + 22 * $margin-desktop-s}));
      right: calc(-.5 * (100vw - #{12 * $col-tablet-l + 22 * $margin-desktop-s}));
  	}

    @media screen and (max-width: $break-tablet-s) {
  		width: 100vw;
      position: relative;
      left: calc(-.5 * (100vw - #{12 * $col-tablet-s + 22 * $margin-tablet-s}));
  	}

    @media screen and (max-width: $break-tablet-xs) {
      left: calc(-.5 * (100vw - #{6 * $col-tablet-xs + 10 * $margin-tablet-xs}));
  	}

  	@media screen and (max-width: $break-mobile-l) {
      left: calc(-.5 * (100vw - #{6 * $col-mobile-l + 10 * $margin-tablet-xs}));
  	}

  	@media screen and (max-width: $break-mobile-s) {
      left: calc(-.5 * (100vw - #{6 * $col-mobile-s + 10 * $margin-mobile-s}));
  	}

    &>p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
