@import 'mixins.scss';

@import 'modules/grid.scss';
@import 'modules/font.scss';
@import 'modules/nav.scss';
@import 'modules/section.scss';
@import 'modules/inputs.scss';

@import 'img/img_about.scss';

.splash {
  position: relative;
  margin-top: 100px;

  @media screen and (max-width: $break-tablet-l) {
    margin-top: 100px;
  }

  @media screen and (max-width: $break-tablet-s) {
    margin-top: 100px;
  }

  @media screen and (max-width: $break-tablet-xs) {
    margin-top: 105px;
  }

  @media screen and (max-width: $break-mobile-l) {
    margin-top: 85px;
  }

  @media screen and (max-width: $break-mobile-s) {
    margin-top: 80px;
  }

  @include e('content') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include m('textCenter') {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  @include e('heading') {
    @include f-size-xxl;
    color: $white;
    font: {
      family: $p-font;
      weight: 700;
    }
    text-transform: uppercase;
    margin-bottom: 25px;

    @include m('solo') {
      margin-bottom: 0;
    }
  }

  @include e('text') {
    @include f-size-m;
    color: $white;
    font: {
      family: $s-font;
      weight: 400;
    }
    margin-bottom: 45px;
  }
}

.advantage {
  @include bg-solo;
  position: relative;
  padding: {
    top: 400px;
    bottom: 500px;
  }
  margin: {
    top: 50px;
    bottom: 200px;
  }
  background-image: url('../assets/img/aboutpage-pic.png');

  @media screen and (max-width: $break-desktop-l) {
    padding: {
      top: 400px;
    }
    margin-bottom: 200px;
  }

  @media screen and (max-width: $break-desktop-s) {
    padding-top: 300px;
    margin-bottom: 160px;
  }

  @media screen and (max-width: $break-tablet-l) {
    margin: {
      top: 0px;
      bottom: 160px;
    }
  }

  @media screen and (max-width: $break-tablet-s) {
    padding: {
      top: 0;
      bottom: 0;
    }
    margin-bottom: 0;
  }

  @include e('bg') {
    margin-top: -250px;
    z-index: -10;

    @media screen and (max-width: $break-desktop-l) {
    }

    @media screen and (max-width: $break-desktop-s) {
      margin-top: -180px;
    }

    @media screen and (max-width: $break-tablet-l) {
      margin-top: -120px;
    }

    @media screen and (max-width: $break-tablet-s) {
      display: none;
    }
  }

  @include e('content') {
    background-color: $featureWhite;
    padding: 100px 70px;
    // vertical-align: top;
    position: absolute;
    right: calc(-.5 * (100vw - #{12 * $col-desktop-l + 22 * $margin-desktop-l}));
    width: calc(#{12 * $col-desktop-l + 22 * $margin-desktop-l} + .5 * (100vw - #{12 * $col-desktop-l + 22 * $margin-desktop-l}));

  	@media screen and (max-width: $break-desktop-s) {
  		width: calc(#{12 * $col-desktop-s + 22 * $margin-desktop-s} + .5 * (100vw - #{12 * $col-desktop-s + 22 * $margin-desktop-s}));
      right: calc(-.5 * (100vw - #{12 * $col-desktop-s + 22 * $margin-desktop-s}));
  	}

  	@media screen and (max-width: $break-tablet-l) {
  		width: calc(#{12 * $col-tablet-l + 22 * $margin-desktop-s} + .5 * (100vw - #{12 * $col-tablet-l + 22 * $margin-desktop-s}));
      right: calc(-.5 * (100vw - #{12 * $col-tablet-l + 22 * $margin-desktop-s}));
  	}

    @media screen and (max-width: $break-tablet-s) {
  		width: 100vw;
      position: relative;
      left: calc(-.5 * (100vw - #{12 * $col-tablet-s + 22 * $margin-tablet-s}));
  	}

    @media screen and (max-width: $break-tablet-xs) {
      left: calc(-.5 * (100vw - #{6 * $col-tablet-xs + 10 * $margin-tablet-xs}));
  	}

  	@media screen and (max-width: $break-mobile-l) {
      left: calc(-.5 * (100vw - #{6 * $col-mobile-l + 10 * $margin-tablet-xs}));
  	}

  	@media screen and (max-width: $break-mobile-s) {
      left: calc(-.5 * (100vw - #{6 * $col-mobile-s + 10 * $margin-mobile-s}));
  	}

    &>p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.products {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }
  text-align: center;

  @include e('content') {
    position: relative;
  }

  @include e('bg') {
    background-color: $offWhite;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10;
  }

  @include e('heading') {
    margin-bottom: 60px;
  }
}

.card {
  display: inline-block;
  text-align: center;
  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 5px 11px $shadow;
  padding: 60px 30px 60px;

  width: 30%;
  margin: {
    right: 2.5%;
    left: 2.5%;
  }

  @media screen and (max-width: $break-desktop-l) {
    padding: 50px 25px 50px;
  }

  @media screen and (max-width: $break-tablet-xs) {
    padding: 20px 20px 20px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include e('icon') {
    @include f-size-xxl;
    color: $gunmetal;
    margin-bottom: 15px;
  }

  @include e('title') {
    @include f-size-l;
    font: {
      family: $p-font;
      weight: 700;
    }
    color: $gunmetal;
    margin-bottom: 15px;
  }
}

.about {
  padding: {
    top: 135px;
    bottom: 135px;
  }
  @include e('content') {
    position: relative;
    display: inline-block;
  }
}

.news {
  position: relative;

  @include e('content') {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include e('bg') {
    background-color: $offWhite;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10;
  }

  @include e('text') {
    margin-bottom: 45px;
  }

}

.testimonials {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }

  @include e('content') {
    text-align: center;
  }
}

.brands {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }
  text-align: center;

  @include e('bg') {
    background-color: $sienna;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10;
  }

  @include e('content') {
    position: relative;
  }

  @include e('logoContainer') {
    margin-top: 30px;
  }

  @include e('logo') {
    vertical-align: middle;
    display: inline-block;

    @include m('cinfo') {
      // width: 300px;
      width: 30%;
    }

    @include m('ncds') {
      // width: 200px;
      width: 20%;
    }

    @include m('bevertec') {
      margin-left: 20px;
      // width: 300px;
      width: 30%;
    }
  }

  @include e('logoImg') {
    @include bg-solo;
    display: inline-block;
    width: 100%;

    @include m('cinfo') {
      padding-top: 28.5%;
      background-image: url('../assets/img/cinfo_white.png');
    }

    @include m('ncds') {
      padding-top: 60%;
      background-image: url('../assets/img/ncds_white.png');
    }

    @include m('bevertec') {
      padding-top: 25.2%;
      background-image: url('../assets/img/bevertec_white.png');
    }
  }
}

.gallery {
  position: relative;
  height: 300px;

  @include e('ui') {
    // z-index: 50;
  }

  @include e('button') {
    z-index: 50;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    padding: 0;
    border: {
      radius: 50%;
      style: solid;
      width: 2px;
      color: $gunmetal;
    }
    top: 50%;
    transform: translateY(-50%);

    @include m('left') {
      left: 0;
    }

    @include m ('right') {
      right: 0;
    }

    &>i {
      @include f-size-xl;
      position: relative;
      display: block;
      width: 100%;
      line-height: 44px !important;
    }
  }

  @include e('cardContainer') {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    @include transition($dtd);
  }

  @include e('card') {
    @include transition($dtd);
    padding: {
      top: 40px;
      bottom: 40px;
    }
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    left: -100%;
    white-space: normal;
  }
}
