@import 'mixins.scss';

@import 'modules/grid.scss';
@import 'modules/font.scss';
@import 'modules/nav.scss';
@import 'modules/inputs.scss';

@import 'img/img_main.scss';

.section {
  @include e('heading') {
    @include f-size-xl;
    color: $gunmetal;
    font: {
      family: $p-font;
      weight: 400;
    }
    margin-bottom: 30px;

    @include m('white') {
      color: $white;
    }
  }

  @include e('subheading') {
    @include f-size-subhead24;
    color: $gunmetal;
    font: {
      family: $p-font;
      weight: 700;
    }
    text-transform: uppercase;
    margin-bottom: 15px;

    @include m('white') {
      color: $white;
    }
  }

  @include e('content') {
    @include f-size-xs;
    color: $gunmetal;
    font: {
      family: $s-font;
      weight: 400;
    }

    @include m('italic') {
      font-style: italic;
    }

    @include m('white') {
      color: $white;
    }
  }
}

.splash {
  position: relative;

  @include e('content') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include e('heading') {
    @include f-size-xxl;
    color: $white;
    font: {
      family: $p-font;
      weight: 700;
    }
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  @include e('text') {
    @include f-size-m;
    color: $white;
    font: {
      family: $s-font;
      weight: 400;
    }
    margin-bottom: 45px;
  }
}

.about {
  padding: {
    top: 135px;
    bottom: 135px;
  }
  @include e('content') {
    position: relative;
    display: inline-block;
  }
}

.products {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }
  text-align: center;

  @include e('content') {
    position: relative;
    display: inline-block;
  }

  @include e('bg') {
    background-color: $offWhite;
    position: absolute;
    top: 0px;
    height: 100%;
  }

  @include e('heading') {
    margin-bottom: 60px;
  }
}

.card {
  display: inline-block;
  text-align: center;
  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 5px 11px $shadow;
  padding: 60px 30px 60px;

  width: 30%;
  margin: {
    right: 2.5%;
    left: 2.5%;
  }

  @media screen and (max-width: $break-desktop-l) {
    padding: 50px 25px 50px;
  }

  @media screen and (max-width: $break-tablet-xs) {
    padding: 20px 20px 20px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include e('icon') {
    @include f-size-xxl;
    color: $gunmetal;
    margin-bottom: 15px;
  }

  @include e('title') {
    @include f-size-l;
    font: {
      family: $p-font;
      weight: 700;
    }
    color: $gunmetal;
    margin-bottom: 15px;
  }
}

.about {
  padding: {
    top: 135px;
    bottom: 135px;
  }
  @include e('content') {
    position: relative;
    display: inline-block;
  }
}

.news {
  position: relative;

  @include e('content') {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include e('bg') {
    background-color: $offWhite;
    position: absolute;
    top: 0px;
    height: 100%;
  }

  @include e('text') {
    margin-bottom: 45px;
  }

}

.testimonials {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }

  @include e('content') {
    text-align: center;
  }
}

.brands {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }
  @include e('bg') {
    background-color: $sienna;
    position: absolute;
    top: 0px;
    height: 100%;
  }
}

.gallery {
  position: relative;
  height: 300px;

  @include e('ui') {
    // z-index: 50;
  }

  @include e('button') {
    z-index: 50;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    padding: 0;
    border: {
      radius: 50%;
      style: solid;
      width: 2px;
      color: $gunmetal;
    }
    top: 50%;
    transform: translateY(-50%);

    @include m('left') {
      left: 0;
    }

    @include m ('right') {
      right: 0;
    }

    &>i {
      @include f-size-xl;
      position: relative;
      display: block;
      width: 100%;
      line-height: 44px !important;
    }
  }

  @include e('cardContainer') {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    @include transition($dtd);
  }

  @include e('card') {
    @include transition($dtd);
    padding: {
      top: 40px;
      bottom: 40px;
    }
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    left: -100%;
    white-space: normal;

    // @include m('prev') {
    //   left: -100%;
    // }
    //
    // @include m('active') {
    //   left: 0;
    //   top: -100%;
    // }
    //
    // @include m('next') {
    //   left: 100%;
    //   top: -200%;
    // }
  }
}
