@import 'mixins.scss';

@import 'modules/grid.scss';
@import 'modules/font.scss';
@import 'modules/nav.scss';
@import 'modules/section.scss';
@import 'modules/inputs.scss';

@import 'img/img_main.scss';

// * {
//   outline: 1px solid red;
// }

.about {
  padding: {
    top: 135px;
    bottom: 135px;
  }
  @include e('content') {
    position: relative;
    display: inline-block;
  }
}

.products {
  position: relative;

  padding: {
    top: 150px;
    bottom: 60px;
  }

  @media screen and (max-width: $break-tablet-s) {
    padding: {
      top: 100px;
      bottom: 60px;
    }
  }
  text-align: center;

  @media screen and (max-width: $break-tablet-s) {
    text-align: left;
    padding: {
      top: 0px;
    }
  }

  @include m('roadmap') {
    padding: {
      top: 40px;
      bottom: 60px;
    }

    @media screen and (max-width: $break-tablet-s) {
      padding: {
        top: 40px;
        bottom: 60px;
      }
    }
    text-align: center;

    @media screen and (max-width: $break-tablet-s) {
      text-align: left;
      padding: {
        top: 0px;
      }
    }

  }

  @include e('content') {
    position: relative;
    margin-bottom: 170px;

    @media screen and (max-width: $break-tablet-s) {
      margin-bottom: 60px;
    }
  }

  @include e('bg') {
    background-color: $offWhite;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10;
  }

  @include e('heading') {
    margin-bottom: 60px;
  }
}

.card {
  @include defaultDropshadow;
  display: inline-block;
  text-align: center;
  background-color: $white;
  // border-radius: 7px;
  padding: 25px 25px;

  width: 30%;
  margin: {
    right: 2.5%;
    left: 2.5%;
    bottom: 35px;
  }

  overflow: hidden;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include m('pd') {
    @media screen and (min-width: $break-tablet-l) {
      &:nth-child(3n+1) {
        margin-left: 0;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    padding: 25px 15px;

    @media screen and (max-width: $break-desktop-l) {
      padding: 25px 15px;
    }

    @media screen and (max-width: $break-tablet-l) and (min-width: $break-tablet-xs) {
      &:nth-child(odd) {
        margin-left: 0;
      }

      &:nth-child(even) {
        margin-right: 0;
      }

      width: 47.5%;
      // margin: 0 0 25px;
    }
  }

  @media screen and (max-width: $break-tablet-xs) {
    margin: {
      right: 0;
      left: 0;
    }
    width: 100%;
    padding: 20px 20px 20px;
  }

  @include m('roadmap') {
    border-top: $gunmetal 10px solid;
    padding: 25px 30px 35px;

    @media screen and (max-width: $break-tablet-l) {
      padding: 25px 20px 35px;
    }
  }

  @include m('news') {
    text-align: left;
    background-color: $lBlack0op;
    border: none;
    box-shadow: none;
    padding: 0;
    vertical-align: top;

    // @media screen and (max-width: $break-desktop-l) {
    //   padding: 50px 25px 50px;
    // }

    &.news--main {
      margin-left: 0;
      @media screen and (max-width: $break-tablet-l) {
        width: 100%;
      }
    }

    &.news--sub {
      &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width: $break-tablet-l) {
        display: none;
      }

      &>a {
        text-decoration: underline;
        font: {
          style: italic;
        }
      }
    }
  }

  @include e('icon') {
    // @include f-size-xxl;
    // color: $gunmetal;
    margin-bottom: 15px;

    @media screen and (max-width: $break-tablet-l) {
  		width: 2 * $col-tablet-l + 2 * $margin-desktop-s;
  	}

    @media screen and (max-width: $break-tablet-s) {
  		width: 2 * $col-tablet-s + 2 * $margin-tablet-s;
  	}
  }

  @include e('title') {
    @include f-size-m;
    font: {
      family: $p-font;
      weight: 700;
    }
    color: $gunmetal;
    margin-bottom: 15px;

    @include m('roadmap') {
      margin-bottom: 0;
    }
  }

  @include e('subtitle') {
    @include f-size-l;
    font: {
      family: $p-font;
      weight: 400;
    }
    color: $gunmetal;
    margin-bottom: 15px;
  }

  @include e('list') {
    &>li {
      @include f-size-xs;
      font: {
        family: $p-font;
      }
      margin-bottom: 10px;
    }
  }
}

.news {
  @include bg-solo;
  position: relative;
  background-image: url('../assets/img/news-landing.png');
  padding: {
    top: 90px;
    bottom: 90px;
  }

  @include e('content') {
    text-align: left;
  }

  @include e('bg') {
    background-color: $offWhite;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -10;
  }

  @include e('text') {
    display: none;
    @media screen and (max-width: $break-tablet-l) {
      display: block;
      margin-bottom: 45px;
    }
  }
}

.brands {
  position: relative;
  padding: {
    top: 135px;
    bottom: 135px;
  }
  text-align: center;
  background-color: $sienna;

  // @include e('bg') {
  //   background-color: $sienna;
  //   position: absolute;
  //   top: 0px;
  //   height: 100%;
  //   z-index: -10;
  // }

  @media screen and (max-width: $break-tablet-s) {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }

  @include e('content') {
    position: relative;
  }

  @include e('logoContainer') {
    margin-top: 30px;
    @media screen and (max-width: $break-tablet-s) {
      height: auto;
    }
  }

  @include e('logo') {
    vertical-align: middle;
    display: inline-block;
    padding: 30px;

    @include transition($dtd);

    @include m('cinfo') {
      // width: 300px;
      width: 30%;
      @media screen and (max-width: $break-tablet-s) {
        width: 60%;
      }
    }

    @include m('ncds') {
      // width: 200px;
      width: 20%;
      // height: 150px;

      @media screen and (max-width: $break-tablet-s) {
        width: 60%;
        height: auto;
      }
    }

    @include m('bevertec') {
      margin-left: 20px;
      // width: 300px;
      width: 28%;

      @media screen and (max-width: $break-tablet-s) {
        width: 60%;
      }
    }

    @include m('bizedocs') {
      // margin-left: 20px;
      // width: 300px;
      width: 22%;

      @media screen and (max-width: $break-tablet-s) {
        width: 60%;
      }
    }

    @include m('centrilogic') {
      margin-left: 20px;
      // width: 300px;
      width: 28%;

      @media screen and (max-width: $break-tablet-s) {
        width: 60%;
      }
    }

    &:hover {
      transform: scale(1.14);
      @media screen and (max-width: $break-tablet-s) {
        transform: scale(1);
      }
    }
  }

  @include e('logoImg') {
    @include bg-solo;
    display: inline-block;
    width: 100%;

    @include m('cinfo') {
      padding-top: 28.5%;
      background-image: url('../assets/img/partnerLogos/cinfo_white.png');
    }

    @include m('ncds') {
      padding-top: 60%;
      background-image: url('../assets/img/partnerLogos/ncds_white.png');
    }

    @include m('bevertec') {
      padding-top: 25.2%;
      background-image: url('../assets/img/partnerLogos/bevertec_white.png');
    }

    @include m('bizedocs') {
      padding-top: 39%;
      background-image: url('../assets/img/partnerLogos/bizedocs_white.png');
    }

    @include m('centrilogic') {
      padding-top: 23.3%;
      background-image: url('../assets/img/partnerLogos/centrilogic_white.png');
    }
  }
}

.gallery {
  position: relative;
  // margin-top: 120px;
  // overflow-x: hidden;

  @include e('testimonials') {
    // height: 300px;
  }

  @include e('indicator') {
    // text-align: center;
    display: inline-block;
    @include f-size-s;
    color: $gunmetal;
    transform: translateY(-1px);
  }

  @include e('ui') {
    margin: {
      top: 30px;
      bottom: 30px;
    }
    text-align: center;
    font: {
      family: $p-font;
    }

    @include m('left') {
      text-align: left;
    }
  }

  @include e('button') {
    @include f-size-m;
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    border: none;
    background-color: $lBlack0op;

    @include transition($dtd);
    color: $gunmetal;
  }

  @include e('cardContainer') {
    white-space: nowrap;
    position: relative;
    overflow: visible;
    @include transition($dtd);
    text-align: left;
  }

  @include e('card') {
    @include transition($dtd);
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    left: -100%;
    white-space: normal;

    @include m('text') {
      padding: {
        top: 40px;
        bottom: 40px;
        left: 60px;
        right: 60px;
      }

      width: 90%;
      left: -200%;
      margin-right: 10%;
      background-color: $white;
      box-shadow: 0 5px 11px $shadow;

      @media screen and (max-width: $break-tablet-s) {
        padding: {
          top: 0px;
          bottom: 0px;
        }
      }
    }

    @include m('img') {
      @media screen and (max-width: $break-tablet-s) {
        width: 100vw;
        left: calc(-.5 * (100vw - #{10 * $col-tablet-s + 18 * $margin-tablet-s}) - 100vw);
      }

      @media screen and (max-width: $break-tablet-xs) {
    		left: calc(-.5 * (100vw - #{5 * $col-tablet-xs + 8 * $margin-tablet-xs}) - 100vw);
    	}

    	@media screen and (max-width: $break-mobile-l) {
    		left: calc(-.5 * (100vw - #{5 * $col-mobile-l + 8 * $margin-desktop-s}) - 100vw);
    	}

    	@media screen and (max-width: $break-mobile-s) {
    		left: calc(-.5 * (100vw - #{5 * $col-mobile-s + 8 * $margin-mobile-s}) - 100vw);
    	}
    }
  }

  @include e('cardText') {
    // text-align: center;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    @include transition(0);
  }
}
