$break-desktop: 1024px;
$break-tablet: 720px;
$break-mobileL: 420px;
$break-mobileS: 320px;

// $pFont: "Libre Baskerville", "Times New Roman", Serif;
// $sFont: Roboto, Helvetica, Sans-serif;
$pFont: "PT Sans", Helvetica, Sans-Serif;
$sFont: Lato, Helvetica, Sans-serif;

$dtd: .3s;

$white: #f5f5f5;
$gunmetal: #454545;
$greyBlue: #687f8f;
$sienna: #a74f25;
$lightGrey: #5d5d5d;
$darkGrey: #384045;
$black: #000000;

$duration: .4s;

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

.container {
	display: block;
	margin: 0 auto;
}