$break-desktop-l: 1320px;
$break-desktop-s: 1180px;
$break-tablet-l: 980px;
$break-tablet-s: 800px;
$break-tablet-xs: 600px;
$break-mobile-l: 420px;
$break-mobile-s: 320px;

// $pFont: "Libre Baskerville", "Times New Roman", Serif;
// $sFont: Roboto, Helvetica, Sans-serif;
$p-font: "PT Sans", Helvetica, Sans-Serif;
$s-font: Lato, Helvetica, Sans-serif;

$dtd: .3s;

$white: #ffffff;
$offWhite: #f5f5f5;
$shadow: hsla(0, 0, 77, .5);
$gunmetal: #455560;
$dropdownBG: rgba(39, 49, 56, 0.99);
$greyBlue: #687f8f;
$sienna: #a74f25;
$lightGrey: #5d5d5d;
$darkGrey: #384045;
$black: #000000;

$lBlack30op: hsla(0, 0, 0, .3);
$lBlack0op: hsla(0, 0, 0, 0);

$duration: .4s;

* {
  box-sizing: border-box;
}

body {
  // max-width: 100vw;
  // overflow-x: hidden;
  background-color: $offWhite;
}

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin bg-solo {
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

@mixin transition($duration) {
  transition-duration: $duration;
}

.container {
	display: block;
	margin: 0 auto;
  overflow-x: hidden;
  // background-color: $offWhite;
}
