@import 'mixins.scss';

@import 'modules/grid.scss';
@import 'modules/font.scss';
@import 'modules/nav.scss';
@import 'modules/section.scss';
@import 'modules/inputs.scss';

@import 'img/img_about.scss';

.productNav {
  position: relative;
  margin-top: 65px;

  @media screen and (max-width: $break-tablet-l) {
    margin-top: 65px;
  }

  @media screen and (max-width: $break-tablet-s) {
    margin-top: 60px;
  }

  @media screen and (max-width: $break-tablet-xs) {
    margin-top: 50px;
  }

  @media screen and (max-width: $break-mobile-l) {
    margin-top: 50px;
  }

  @media screen and (max-width: $break-mobile-s) {
    margin-top: 50px;
  }

  padding: {
    top: 50px;
    bottom: 65px;
  }

  @include e('content') {
    font: {
      family: $p-font;
      weight: 400;
    }
  }

  @include e('heading') {
    @include f-size-xxl;
    color: $gunmetal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  @include e('filters') {
    list-style: none;
    margin-bottom:15px;
  }

  @include e('filtersOptions') {
    @include transition($dtd);
    display: inline-block;
    color: $gunmetal;
    @include f-size-m;
    cursor: pointer;
    font: {
      family: $p-font;
    }

    &.active {
      color: $sienna;
    }

    &:hover {
      color: $sienna;
    }

    &:after {
      color: $gunmetal;
      content: " /";
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }

  @include e('submessage') {
    @include f-size-xs;
    &>a {
      color: $sienna;
      text-decoration: underline;
    }
  }
}

.product {
  // @include defaultDropshadow;
  // background-color: $featureWhite;
  padding: 65px 25px 65px 35px;
  color: $gunmetal;
  font: {
    family: $p-font;
  }
  margin-bottom: 45px;
  position: relative;
  @include transition($dtd);
  background-color: $white;

  @media screen and (max-width: $break-tablet-l) {
    padding: 45px 20px 45px 20px;
    margin-bottom: 25px;
  }

  @media screen and (max-width: $break-mobile-l) {
    padding: 24px 15px 24px 15px;
    margin-bottom: 10px;
  }

  &:hover {
    &>i {
      color: $sienna;
    }
  }

  &>h4 {
    transform: translateY(5px);
  }

  &.fade {
    opacity: 0;
  }

  &.hide {
    display: none;
  }

  @include e('container') {
    @include defaultDropshadow;
    background-color: $featureWhite;
    display: block;
    @include transition($dtd);
    text-decoration: none;
    color: $gunmetal;
    &.fade {
      opacity: 0;
    }

    &.hide {
      display: none;
    }
  }

  @include e('wrapper') {
    margin-bottom: 120px;
  }

  @include e('heading') {
    @include f-size-m;
    font: {
      weight: 700;
    }
    margin-bottom: 10px;
    letter-spacing: 1px !important;

    @include m('dropdown') {
      display: inline-block;

      @media screen and (max-width: $break-mobile-l) {
        max-width: 80%;
      }
    }
  }

  @include e('body') {
    @include f-size-xs;
    font: {
      weight: 400;
    }
    letter-spacing: .5px;

    @media screen and (max-width: $break-tablet-xs) {
      // width: 80%;
      display: none;
    }
  }

  @include e('arrow') {
    @include transition($dtd);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    @include f-size-xl;
    cursor: pointer;

    @include m('dropdown') {
      // transform: rotate(90deg);
      @include transition($dtd);
      right: auto;
      transform: none;
      top: auto;
      transform-origin: center;
      position: relative;
      float: right;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  @include e('dropdown') {
    @include defaultDropshadow;
  }

  @include e('dropdownShow') {
    // display: none;
    max-height: 0;
    overflow: hidden;
    @include f-size-xs;
    transition: max-height $dtd;


    &>p {
      margin-top: 30px;
    }

    &>ul {
      margin-top: 30px;
      &>li {
        &:before {
          content: "\2022";
          margin: {
            right: 10px;
          }
        }
        padding-left: 10px;
        width: calc(100% - 30px);
      }
    }
  }
}
