@import 'mixins.scss';

@import 'modules/grid.scss';
@import 'modules/font.scss';
@import 'modules/nav.scss';
@import 'modules/section.scss';
@import 'modules/inputs.scss';

@import 'img/img_about.scss';

.productNav {
  position: relative;
  margin-top: 65px;

  @media screen and (max-width: $break-tablet-l) {
    margin-top: 65px;
  }

  @media screen and (max-width: $break-tablet-s) {
    margin-top: 60px;
  }

  @media screen and (max-width: $break-tablet-xs) {
    margin-top: 50px;
  }

  @media screen and (max-width: $break-mobile-l) {
    margin-top: 50px;
  }

  @media screen and (max-width: $break-mobile-s) {
    margin-top: 50px;
  }

  padding: {
    top: 50px;
    bottom: 65px;
  }

  @include e('content') {
    font: {
      family: $p-font;
      weight: 400;
    }
  }

  @include e('heading') {
    @include f-size-xxl;
    color: $gunmetal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  @include e('filters') {
    list-style: none;
    margin-bottom:15px;
  }

  @include e('filtersOptions') {
    @include transition($dtd);
    display: inline-block;
    color: $gunmetal;
    @include f-size-m;
    cursor: pointer;
    font: {
      family: $p-font;
    }

    &.active {
      color: $sienna;
    }

    &:hover {
      color: $sienna;
    }

    &:after {
      color: $gunmetal;
      content: " /";
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }

  @include e('submessage') {
    @include f-size-xs;
    &>a {
      color: $sienna;
      text-decoration: underline;
    }
  }
}

.product {
  background-color: $featureWhite;
  padding: 65px 25px 65px 35px;
  color: $gunmetal;
  font: {
    family: $p-font;
  }
  margin-bottom: 45px;
  position: relative;
  @include transition($dtd);

  &:hover {
    &>i {
      color: $sienna;
    }
  }

  &>h4 {
    transform: translateY(5px);
  }

  &.fade {
    opacity: 0;
  }

  &.hide {
    display: none;
  }

  @include e('wrapper') {
    margin-bottom: 120px;
  }

  @include e('heading') {
    @include f-size-m;
    font: {
      weight: 700;
    }
    margin-bottom: 10px;
    letter-spacing: 1px !important;
  }

  @include e('body') {
    @include f-size-xs;
    font: {
      weight: 400;
    }
    letter-spacing: .5px;
  }

  @include e('arrow') {
    @include transition($dtd);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @include f-size-xl;

    @include m('dropdown') {
      // transform: rotate(90deg);
      @include transition($dtd);
      transform-origin: center;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  @include m('dropdown') {

  }
}
