.bgImg {
  @include bg-solo;

  @include e('mainSplash') {
    background-image: url('../assets/img/about_header.jpg');
    padding-top: 25.6%;
    @media screen and (max-width: $break-desktop-s) {
  		padding-top: 25.6%;
  	}

  	@media screen and (max-width: $break-tablet-l) {
  		padding-top: 25.6%;
  	}

    @media screen and (max-width: $break-tablet-s) {
  		padding-top: 37%;
  	}

    @media screen and (max-width: $break-tablet-xs) {
  		padding-top: 43%;
  	}

  	@media screen and (max-width: $break-mobile-l) {
      background-image: url('../assets/img/about_header_mobile.jpg');
  		padding-top: 50%;
  	}

  	@media screen and (max-width: $break-mobile-s) {
      padding-top: 50%;
  	}
  }

  @include e('advantage') {
    // background-image: url('../assets/img/aboutpage-pic.png');
    // padding-top: 45.6%;
    // @media screen and (max-width: $break-desktop-s) {
  	// 	padding-top: 45.6%;
  	// }
    //
  	// @media screen and (max-width: $break-tablet-l) {
  	// 	padding-top: 45.6%;
  	// }
    //
    // @media screen and (max-width: $break-tablet-s) {
  	// 	padding-top: 45.6%;
  	// }
    //
    // @media screen and (max-width: $break-tablet-xs) {
  	// 	padding-top: 120%;
  	// }
    //
  	// @media screen and (max-width: $break-mobile-l) {
  	// 	padding-top: 160%;
  	// }
    //
  	// @media screen and (max-width: $break-mobile-s) {
    //   padding-top: 160%;
  	// }

    background-image: url('../assets/img/aboutpage-pic.png');
    padding-top: 35.6%;
    @media screen and (max-width: $break-desktop-s) {
  		padding-top: 35.6%;
  	}

  	@media screen and (max-width: $break-tablet-l) {
  		padding-top: 35.6%;
  	}

    @media screen and (max-width: $break-tablet-s) {
  		padding-top: 35.6%;
  	}

    @media screen and (max-width: $break-tablet-xs) {
  		padding-top: 120%;
  	}

  	@media screen and (max-width: $break-mobile-l) {
  		padding-top: 160%;
  	}

  	@media screen and (max-width: $break-mobile-s) {
      padding-top: 160%;
  	}
  }

  @include e('aboutContainer') {
    // vertical-align: top;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: calc(-.5 * (100vw - #{12 * $col-desktop-l + 22 * $margin-desktop-l}));
    width: calc(#{5 * $col-desktop-l + 8 * $margin-desktop-l} + .5 * (100vw - #{12 * $col-desktop-l + 22 * $margin-desktop-l}));

  	@media screen and (max-width: $break-desktop-s) {
  		width: calc(#{5 * $col-desktop-s + 8 * $margin-desktop-s} + .5 * (100vw - #{12 * $col-desktop-s + 22 * $margin-desktop-s}));
      right: calc(-.5 * (100vw - #{12 * $col-desktop-s + 22 * $margin-desktop-s}));
  	}

  	@media screen and (max-width: $break-tablet-l) {
  		width: calc(#{5 * $col-tablet-l + 8 * $margin-desktop-s} + .5 * (100vw - #{12 * $col-tablet-l + 22 * $margin-desktop-s}));
      right: calc(-.5 * (100vw - #{12 * $col-tablet-l + 22 * $margin-desktop-s}));
  	}

    @media screen and (max-width: $break-tablet-s) {
  		width: 100vw;
      position: relative;
      top: auto;
      transform: none;
      margin-top: 60px;
      left: calc(-.5 * (100vw - #{12 * $col-tablet-s + 22 * $margin-tablet-s}));
    }

    @media screen and (max-width: $break-tablet-xs) {
      margin-top: 40px;
      left: calc(-.5 * (100vw - #{6 * $col-tablet-xs + 10 * $margin-tablet-xs}));
    }

    @media screen and (max-width: $break-mobile-l) {
      left: calc(-.5 * (100vw - #{6 * $col-mobile-l + 10 * $margin-desktop-s}));
    }

    @media screen and (max-width: $break-mobile-s) {
      left: calc(-.5 * (100vw - #{6 * $col-mobile-s + 10 * $margin-mobile-s}));
    }
  }


  @include e('about') {
    background-image: url('../assets/img/about-man.png');
    padding-top: 70%;
    @media screen and (max-width: $break-desktop-s) {
  		padding-top: 80%;
  	}

  	@media screen and (max-width: $break-tablet-l) {
      background-image: url('../assets/img/about-man-tablet.png');
  		padding-top: 90%;
  	}

    @media screen and (max-width: $break-tablet-s) {
  		padding-top: 40%;
  	}

    @media screen and (max-width: $break-tablet-xs) {
  		padding-top: 50%;
  	}

  	@media screen and (max-width: $break-mobile-l) {
      background-image: url('../assets/img/about-man-mobile.png');
  		padding-top: 50%;
  	}

  	@media screen and (max-width: $break-mobile-s) {
      padding-top: 50%;
  	}
  }
}
