.button {
  @include f-size-xs;
  display: inline-block;
  padding: 12px 33px 10px;
  font: {
    family: $p-font;
    weight: 400;
  }
  text-transform: uppercase;
  letter-spacing: 2px;

  @include m('wb') {
    color: $white;
    border: {
      style: solid;
      width: 2px;
      color: $white;
    }
  }
}
