.button {
  @include f-size-xs;
  @include transition($dtd);
  display: inline-block;
  padding: 12px 33px 10px;
  font: {
    family: $p-font;
    weight: 400;
  }
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;

  border: {
    style: solid;
    width: 2px;
    color: $gunmetal;
  }

  &:hover {
    border: {
      color: $sienna;
    }
    background-color: $sienna;
    color: $white;
  }

  @include m('wb') {
    color: $white;
    border: {
      style: solid;
      width: 2px;
      color: $white;
    }
    &:hover {
      border: {
        color: $sienna;
      }
      background-color: $sienna;
    }
  }
}
