.nav {
	position: relative;
	display: block;
	padding: {
		top: 20px;
		bottom: 20px;
	}

	@include e('logo') {
		display: inline-block;
	}

	@include e('logoImg') {
		@include bg-solo;
		background-size: contain;
		background-image: url('../assets/img/logo.svg');
		padding-top: 37.5%;
	}

	@include e('menu') {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		list-style: none;
	}

	@include e('menuOption') {
		@include f-size-xs;
		color: $gunmetal;
		display: inline-block;
		text-decoration: none;
		font: {
			family: $p-font;
			weight: 700;
		}
		letter-spacing: 1.9px;
		margin-left: 46px;

		&:hover {
			color: $sienna;
		}

		&.active {

		}
	}
}
