.splash {
  position: relative;

  @include e('content') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include m('textCenter') {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  @include e('heading') {
    @include f-size-xxl;
    color: $white;
    font: {
      family: $p-font;
      weight: 400;
    }
    text-transform: uppercase;
    margin-bottom: 25px;

    @include m('solo') {
      margin-bottom: 0;
    }
  }
}

.section {

  padding: {
    top: 135px;
    bottom: 90px;
  }

  @media screen and (max-width: $break-tablet-s) {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }

  @include m('textCenter') {
    text-align: center;
  }

  @include e('content') {
    position: relative;
    display: inline-block;
  }

  @include e('about') {
    padding-bottom: 135px;
    @media screen and (max-width: $break-tablet-s) {
      padding-bottom: 0;
    }
  }

  @include e('heading') {
    @include f-size-xl;
    color: $gunmetal;
    font: {
      family: $p-font;
      weight: 400;
    }
    margin-bottom: 30px;

    @include m('white') {
      color: $white;
    }

    @media screen and (max-width: $break-tablet-s) {
      width: 100%;
    }
  }

  @include e('subheading') {
    @include f-size-subhead24;
    color: $gunmetal;
    font: {
      family: $p-font;
      weight: 700;
    }
    text-transform: uppercase;
    margin-bottom: 15px;

    @include m('white') {
      color: $white;
    }

    @include m('normal') {
      font: {
        weight: 400;
      }
    }
  }

  @include e('caption') {
    @include f-size-xs;
    font: {
      family: $p-font;
      weight: 300;
      style: italic;
    }

    @include m('white') {
      color: $white;
    }
  }

  @include e('body') {
    @include f-size-xs;
    color: $gunmetal;
    font: {
      family: $s-font;
      weight: 400;
    }

    @include m('splash') {
      letter-spacing: 1.7px;
    }

    @include m('italic') {
      font-style: italic;
    }

    @include m('white') {
      color: $white;
    }

    @include m('splash') {
      margin-bottom: 45px;
    }

    @media screen and (max-width: $break-tablet-s) {
      width: 100%;
    }
  }

  @include e('cardContainer') {
    margin-bottom: 40px;

    @media screen and (max-width: $break-tablet-s) {
      margin-bottom: 0;
    }
    
  }

  @include m('testimonials') {
    @media screen and (max-width: $break-tablet-s) {
      display: none;
    }
  }
}
