.section {

  padding: {
    top: 135px;
    bottom: 135px;
  }

  @include m('textCenter') {
    text-align: center;
  }

  @include e('content') {
    position: relative;
    display: inline-block;
  }

  @include e('heading') {
    @include f-size-xl;
    color: $gunmetal;
    font: {
      family: $p-font;
      weight: 400;
    }
    margin-bottom: 30px;

    @include m('white') {
      color: $white;
    }
  }

  @include e('subheading') {
    @include f-size-subhead24;
    color: $gunmetal;
    font: {
      family: $p-font;
      weight: 700;
    }
    text-transform: uppercase;
    margin-bottom: 15px;

    @include m('white') {
      color: $white;
    }
  }

  @include e('body') {
    @include f-size-xs;
    color: $gunmetal;
    font: {
      family: $s-font;
      weight: 400;
    }

    @include m('splash') {
      letter-spacing: 1.7px;
    }

    @include m('italic') {
      font-style: italic;
    }

    @include m('white') {
      color: $white;
    }

    @include m('splash') {
      margin-bottom: 45px;
    }
  }

  @include e('cardContainer') {
    margin-bottom: 40px;

    @media screen and (max-width: $break-tablet-s) {
      margin-bottom: 0;
    }
  }
}
